.about{
  .about-wrap{
    display: flex;
    .left-side{
      align-items: stretch;
      width: 23%;
      border-right: 1px solid $grayBorder;
      a{
        display: block;
        margin-bottom: 17px;
        &.active{
          color: $base-color!important;
        }
      }
    }
    .right-side{
      align-items: stretch;
      width: 80%;
      padding-left: 59px;
      h1{
        margin-top: 0;
        font-weight: 400;
        font-size: 26px;
        line-height: 23px;
        letter-spacing: 0px;
      }
      h2{
        margin-top: 30px;
        font-size: 16px;
      }
      p{
        &:first-of-type{
          margin-top: 0;
        }
      }
      figure{
        figcaption{
          font-style: italic;
          text-align: left;
        }
        margin-bottom: 10px;
      }
    }
  }
}