.add-exchanger{
  h2{
    margin-top: 0;
    font-size: 25px;
    font-weight: 400;
  }
}
.ex-form{
  background-color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  .form-group{
    width: 68%;
    position: relative;
    .form-control{
      border-top:none;
      border-left:none;
      border-right:none;
      border-bottom: 1px solid $grayBorder;
      &::placeholder{
        color: $grayBorder;
      }
    }
    textarea{
      height: 30px;
      min-height: 30px;
    }
    .tooltip-form{
      position: absolute;
      width: auto;
      opacity: 0;
      min-width: 100px;
      padding-left: 10px;
      padding-top: 5px;
      transition: all .3s linear;
      padding-bottom: 5px;
      padding-right: 10px;
      z-index: 99;
      left: 107%;
      top:50%;
      transform: translateY(-50%) translateX(10px);
      height: auto;
      border: 1px solid $grayBorder;
      background-color:#fff;
      box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
      &:before{
        display: block;
        content: '';
        left: -2px;
        top: 50%;
        transform: rotate(-45deg)  translateY(-50%);
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border: 1px solid $grayBorder;
        border-right:none;
        border-bottom:none;
      }
      &.visible{
        opacity: 1;
        transform: translateY(-50%) translateX(0);
      }
    }
  }
  .btn{
    width: 68%;
    background-color: $greenBtn;
    &:disabled{
      background-color: $grayBorder!important;
    }
  }
}
.terms{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}