.black-market-container {

  table.exchangers-table.currencies-table, table.header-fixed.currencies-table{
    table-layout: fixed;
    thead {
      tr {
        th {
          &:first-of-type {
            width: 10%;
          }
          &:nth-of-type(2){
            width: 15%;
          }
          &:nth-of-type(3){
            width: 20%;
            text-align: left;
          }
          &:nth-of-type(4){
            width: 35%;
          }
          &:nth-of-type(5){
            padding-left: 10px;
            text-align: left;
            width: 20%;
          }
        }
      }
    }
    tbody{
      td{
        &:nth-of-type(3){
          text-align: left!important;
        }
        &:nth-of-type(5){
          padding-left: 10px;
        }
      }
    }
    .rates-descr {
      color: $grayBorder;
      font-size: 11px;
      text-align: left;
    }
  }

}
.blackmarket-fixed-table{
  table.exchangers-table.currencies-table, table.header-fixed.currencies-table{
    table-layout: fixed;
    thead {
      tr {
        th {
          &:first-of-type {
            width: 10%;
          }
          &:nth-of-type(2){
            width: 15%;
          }
          &:nth-of-type(3){
            width: 20%;
            text-align: left;
          }
          &:nth-of-type(4){
            width: 35%;
          }
          &:nth-of-type(5){
            padding-left: 10px;
            text-align: left;
            width: 20%;
          }
        }
      }
    }
    tbody{
      td{
        &:nth-of-type(3){
          text-align: left!important;
        }
        &:nth-of-type(5){
          padding-left: 10px;
        }
      }
    }
    .rates-descr {
      color: $grayBorder;
      font-size: 11px;
      text-align: left;
    }
  }
}

