
.fixed-table-wrap {
  table {
    th {
      img {
        opacity: 0;
        transition: opacity .3s linear;

        &.up {
          visibility: visible;
        }
        &.down {
          visibility: visible;
          transform: rotateY(180deg) rotateZ(180deg);
        }
      }
      a {
        color: $base-color !important;
      }
      &:first-of-type {
        width: 40%;
      }
      &:nth-of-type(2) {
        width: 10%;
        padding-left: 0;
      }
      &:nth-of-type(3) {
        width: 25%;
        text-align: center;
      }
      &:nth-of-type(4) {
        width: 20%;
        text-align: left;
      }
      a {
        display: inline-block;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
      &.active {
        img {
          opacity: 1;
        }
      }
    }
  }
  table.exchangers-fixed-width {
    th {
      &:nth-of-type(1) {
        width: 10.9%;
      }
      &:nth-of-type(2) {
        width: 40.85%;
      }
      &:nth-of-type(3) {
        width: 20.29%;
        text-align: left;
      }
      &:nth-of-type(4) {
        width: 8.6%;
      }
    }
  }
}

.directory-wrap {
  .directory-header-wrap {
    .search-input {
      margin-right: 20px;
      input {
        padding-left: 40px;
      }
    }
  }
  table.exchangers-table.currencies-table {
    table-layout: fixed;
    width: 100%;
    thead {
      tr {
        th {
          img {
            opacity: 0;
            transition: opacity .3s linear;

            &.up {
              visibility: visible;
            }
            &.down {
              visibility: visible;
              transform: rotateY(180deg) rotateZ(180deg);
            }
          }
          a {
            color: $base-color !important;
          }
          &:first-of-type {
            width: 40%;
          }
          &:nth-of-type(2) {
            width: 10%;
            padding-left: 0;
          }
          &:nth-of-type(3) {
            width: 25%;
            text-align: center;
          }
          &:nth-of-type(4) {
            width: 20%;
            text-align: left;
          }
          a {
            display: inline-block;
          }
          &:hover {
            img {
              opacity: 1;
            }
          }
          &.active {
            img {
              opacity: 1;
            }
          }
        }

      }
    }
    tbody {
      tr {
        td {
          img {
            width: 32px;
            height: 32px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
          }
          &:nth-of-type(2) {
            width: 10%;
            padding-left: 0;
          }
          &:nth-of-type(3) {
            text-align: center;
          }
        }
      }
    }
  }
  .rates-table-filters {
    position: static;
    right: 0;
    float: right;
    .rates-table-filters-wrap {
      position: relative;
      .ru-settings {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        opacity: .5;
        transition: all .3s linear;
        &:before{
          margin-left: 1px;
        }
        &:hover {
          opacity: 1;
        }
      }
      .rates-filter-dropdown {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        z-index: 222;
        border: 1px solid #B6BFCA;
        box-shadow: 3px 3px 11px 0.1px rgba(0, 0, 0, .15);
        right: 0;
        min-width: 300px;
        padding: 15px;
        transition: all .3s linear;
        p {
          margin-top: 5px;
          margin-bottom: 5px;
          font-weight: 600;
        }
        .form-group {
          margin-top: 0;
          margin-bottom: 0;
        }
        .dropdown-arrow {
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
          top: -4px;
          left: 94.5% !important;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          background-color: #fff;
          border: 1px solid $grayBorder;
          border-bottom: none;
          border-right: none;
          &:after {
            display: none;
          }
        }
      }
      &.active {
        .ru-settings {
          opacity: 1;
        }
        .rates-filter-dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.currencies-wrap {
  .directory-header-wrap {
    .directory-header {
      float: none;
      display: inline-block;
    }
    .search-input {
      float: none;
      line-height: 32px;
      margin-right: 0;
      margin-left: 20px;
      vertical-align: top;
      display: inline-block;
      padding-left: 0;
      position: relative;
      &:before {
        left: auto;
        display: block;
        transform: rotateY(180deg);
        right: 0;

      }
      input {
        right: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 20px;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding-bottom: 50px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  ul {
    padding-left: 0;
    padding-bottom: 0;
  }
  li {
    list-style: none;
    cursor: pointer;
    outline: none !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    a {
      display: inline-block;
      height: 100%;
      line-height: 40px;
      outline: none !important;

    }
    &.active {
      a {
        color: $base-color;
      }
    }
    &.next {
      cursor: pointer;
      font-size: 25px;
      a {
        span {
          color: $link-color;
          transition: all .3s linear;
          &:before {
            display: inline-block;
            vertical-align: middle;
          }
        }
        &:hover {
          span {
            color: $link-hover-color;
          }
        }
      }
    }
    &.previous {
      cursor: pointer;
      font-size: 25px;
      a {
        span {
          color: $link-color;
          transition: all .3s linear;
          &:before {
            display: inline-block;

            vertical-align: middle;
          }
        }
        &:hover {
          span {
            color: $link-hover-color;
          }
        }
      }

    }
    &.disabled {
      a {
        span {
          color: $grayBorder - 30%;
        }
      }
    }
  }
}

.example-enter {
  opacity: 1;
  transform: translateX(1230px) scale(2.5);
  filter: hue-rotate(90deg);
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: all 2000ms ease-in;
  transform: translateX(0px) scale(1);
  filter: hue-rotate(0deg);
}

.example-leave {
  opacity: 1;
  transform: translateX(0);
  filter: hue-rotate(0deg);
}

.example-leave.example-leave-active {
  opacity: 1;
  transition: all 2000ms ease-in;
  transform: translateX(-1230px) scale(2.5);
  filter: hue-rotate(-90deg);
}
