.single-exchanger-wrap{
  .row{
    margin-left: -15px;
    margin-right: -15px;
  }
  .exchanger-head-info{
    margin-bottom: 40px;
    .exchanger-logo{
      float: left;
      margin-right: 30px;
      img{
        width: 120px;
        height: 120px;
      }
    }
    .exchanger-main-text{
      h3{
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: .4px;
      }
      .status-and-link{
        margin-bottom: 18px;
        .status{
          display: inline-block;
          margin-right: 10px;
          &.active{
            color: $greenArrow;
            &:before{
              content: '';
              display: inline-block;
              vertical-align: middle;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              background-color:$greenArrow;
              margin-right: 10px;
            }
          }
        }
        .link-self{
          color: $link-color;
        }
      }
      .phone-and-mail{
        .phone{
          margin-bottom: 5px;
        }
        .icon{
          vertical-align: middle;
        }
      }
    }
    .exchanger-btn-block{
      line-height: 20px;
      .responses-link{
        display: block;
        float: right;
        margin-right: 10px;
        color: $grayBorder;
        .icon{
          margin-right: 10px;
          vertical-align: middle;
        }
        .comments-count{
          display: inline-block;
          border-bottom: 1px dashed;
        }
      }
      .btn{
        float: right;
        margin-top: -7px;
        line-height: 29px;
        padding-top: 3px;
        padding-bottom: 7px
      }
    }
  }
  .exchanger-tabs{
    .tab-content{
      padding-left: 0;
      padding-right: 0;
      padding-top: 30px;
    }
    .ex-info-item{
      @extend %clearfix;
      margin-bottom: 5px;
      .left-part{
        float: left;
        width: 120px;
        color: $grayBorder;
        &.extended{
          width: 160px;
        }
      }
      .right-part{
        float: left;
        .flag-icon{
          margin-left: 5px;
        }
        .status{
          &.active{
            color: $greenArrow;
            &:before{
              content: '';
              display: inline-block;
              vertical-align: middle;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              background-color:$greenArrow;
              margin-right: 10px;
            }
          }
        }
        &.rating-wrap{
          .icon{
            &:first-of-type{
              margin-left: 0;
            }
          }
        }
        .pos{
          color: $greenArrow;
        }
        .neg{
          color: $redArrow;
        }
      }
    }
    .exchanger-table-reserves{
      thead{
        tr{
          th{
            padding-top: 0;
            font-weight: 400;
            border-bottom: 1px solid $grayBorder+ 40%;
            &:first-of-type{
              text-align: left;
            }
            &:nth-of-type(2){
              text-align: right;
              padding-right: 0px;
            }
            &:last-of-type{
              text-align: center;
              padding-right: 0;
            }
          }
          border-bottom: none;
        }
      }
      tbody{
        tr{
          td{
            line-height: 45px;
            border-bottom: 1px solid $grayBorder + 40%;
            .cur-icon{
              img{
                display: inline-block;
                vertical-align: middle;
                margin-top: -5px;
                margin-right: 10px;
              }
            }
            &:nth-of-type(2){
              text-align: right;
            }
            &:last-of-type{
              text-align: left;
            }
          }
          &:last-of-type{
            td{
              border-bottom:  none;
            }
          }
        }
      }
    }
    .pie-chart-wrap{
      h4{
        margin-top: 0;
        font-weight: 400;
      }
    }
    .description-tab-content{
      p{
        &:first-of-type{
          margin-top: 0;
        }
      }
    }
  }
  .direction-exchanger-table{
   thead{
     tr{
        th{
          &:nth-of-type(2){
            text-align: center!important;
            width: 25%;
            padding-left: 0!important;

          }
          &:nth-of-type(3){
            width: auto;
            text-align: center;
          }
          &:nth-of-type(4){
            text-align: center;
          }
          &:nth-of-type(5){
            text-align: center;
          }
          img{
            display: inline-block;
            vertical-align: middle;
            visibility: hidden;
            opacity: 0;
            transition: opacity .15s linear;
          }
          &.up{
            img{
              visibility: visible;
              opacity: 1;
            }
          }
          &.down{
            img{
              opacity: 1;
              visibility: visible;
              transform: rotateY(180deg) rotateZ(180deg);
            }
          }
        }
     }
   }
    tbody{
      tr{
        td{
          padding-top: 22px;
          padding-bottom: 12px;
          &.direction-td{
            min-width: 220px;
            white-space: nowrap;
            .from{
              display: inline-block;
              img{
                display: inline-block;
                vertical-align: middle;
                margin-top: -2px;
                margin-right: 10px;
              }
            }
            .divider{
              display: inline-block;
              margin-right: 15px;
              margin-left: 10px;
              font-size: 20px;
              span{
                display: inline-block;
                vertical-align: middle;
              }
            }

            .to{
              display: inline-block;
              img{
                display: inline-block;
                vertical-align: middle;
                margin-top: -2px;
                margin-right: 10px;
              }
            }
          }
          &:nth-of-type(2){
            text-align: right!important;
            width: 15%;
            .gray-curr{
            }
          }
          &:nth-of-type(3){
            text-align: left;
            width: 10%;
          }
          &:nth-of-type(4){
            text-align: center;
            width: 30%;
          }
          &:nth-of-type(5){
            text-align: center;
          }
          &:nth-of-type(6){
            text-align: center!important;
            padding-left: 0!important;
          }
          .icon-star{
            opacity: 0;
          }
        }
        &:hover{
          td{
            .icon-star{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}




.image-icon{
  display: inline-block;
  vertical-align: middle;
  margin-right:5px;
  margin-left:5px;
  width:15px;
}

.filter-logo{
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.gray-curr{
  color: $grayBorder;
}