.directory-wrap{
  &.loading-directory{
    height: calc(100vh - 360px);
    .preloader-wrap{
      position: absolute;
    }
  }
  .dropdown-wrap{
    display: inline-block;
    position: relative;
  }
  .selectize-dropdown{
    position: absolute;
    border: 1px solid $grayBorder;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 110%;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    &:before{
      position: absolute;
      content: '';
      top: -5px;
      left: 48%;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border-left: 1px solid rgba(182, 191, 202, 0.75);
      border-top: 1px solid rgba(182, 191, 202, 0.75);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .simple-option{
      padding-left: 10px;
      display: block;
      white-space: nowrap;
      padding-right: 10px;
      font-weight: normal!important;
      color: $base-color!important;
    }
    .dropdown-menu{
      position:static;
      box-shadow: none;
    }
    .react-selectize.dropdown-menu.default:not(.flipped){
      border: none!important;
    }
    .react-selectize.default.root-node .react-selectize-control{
      border: none!important;
      border-radius: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
    .react-selectize.default.root-node .react-selectize-control .react-selectize-search-field-and-selected-values:before{
      left: 5px;
      top: 6px;
    }
    .react-selectize.root-node .react-selectize-control .react-selectize-toggle-button-container{
      display: none;
    }
    .react-selectize.dropdown-menu.default:not(.flipped){
      border: none;
      border-radius: 0;
    }
  }
  .open{
    .selectize-dropdown{
      visibility: visible;
      z-index: 2222;
      opacity: 1;
    }
  }
  .underline-span{
    cursor: pointer;
    border-bottom: 1px dotted $grayBorder;
    display: inline-block;
    &.currency-span{
      margin-right: 0;
      border-bottom: none;
      //&:after{
      //  content: "";
      //  display: block;
      //  top: 6px;
      //  width: 8px;
      //  height: 8px;
      //  position: absolute;
      //  right: 11px;
      //  -webkit-transform: rotate(45deg);
      //  -ms-transform: rotate(45deg);
      //  transform: rotate(45deg);
      //  border: 1px solid transparent;
      //  border-right: 1px solid #9A9A9A;
      //  border-bottom: 1px solid #9A9A9A;
      //  -webkit-transition: all .25s linear;
      //  transition: all .25s linear;
      //}
    }
  }
  .small-input{
    outline: none;
    width: 70px;
    border-top:none;
    border-left: none;
    border-right:none;
    margin-left: 10px;
    margin-right: 10px;
   &.rate-input{
     width: 150px;
   }
  }
}