.archive-news-wrap{
  @extend %clearfix;
  position: relative;
  .news-categories{
    a{
      display: block;
      margin-bottom: 17px;
    }
  }
  .news-categories{
    float: left;
    width: 22.5%;
    height: 100%;
    a{
      color: $link-color;
      &.active{
        color: $base-color;
      }
    }
    &:after{
      content: '';
      position: absolute;
      top: 20px;
      left: 23.6%;
      width: 1px;
      bottom: 20px;
      background-color: $grayBorder;
    }
  }
  .news-list{
    float: left;
    width: 77.5%;
    .news-header{
      padding-left: 57px;
      h1{
        margin-bottom: 0;
      }
      margin-bottom: 14px;
    }
    .news-table{
      padding-left: 57px;
      table{
        thead{
          tr{
            th{
              font-weight:400!important;
              padding-bottom: 15px;
              padding-left: 3px;
              &:first-of-type{
                width: 17.1%;
              }
              &:nth-of-type(2){
                width: 52%;
              }
            }
          }
        }
        tbody{
          tr{
            td{
              padding-top: 20px;
              padding-bottom: 20px;
              .source{
                display: block;
                color: $grayBorder;
              }
            }
          }
        }
      }
    }
    h1{
      margin-top: -7px;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
}