/* Barebones Compass block styles
 *
 * General block styles
 */
body{
  min-height: 100%;
  height: calc(100% + 180px);
  position: relative;
}
.container{
  position: relative;
}

#app{
  height: 100%;
  min-height: 100vh;
  >div{
    height: 100%;
    min-height: 100vh;
    .layout-content{
      position: relative;
      min-height: 100vh;
      margin-bottom: -180px;
      margin-right: 0;
      margin-left:0;
      min-width: 960px !important;
    }
  }
}


//PRELOADER STYLES



.preloader-wrap{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  z-index: 112221;
}
.preloader {
  margin: 0;
  text-align: center;
  font-size: 10px;
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 67px;
  z-index: 1111;
}

.preloader > div {
  background-color: #314156;
  height: 6px;
  width: 10px;
  margin-bottom: 24px;
  display: block;
  -webkit-animation: stretchdelay 0.7s infinite linear;
  animation: stretchdelay 0.7s infinite linear;
}

.preloader .circ2 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.preloader .circ3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.preloader .circ4 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.preloader .circ5 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    width: 10px;
  }
  20% {
    width: 100%;
  }
}

@keyframes stretchdelay {
  0%,  100% {
    width: 20px;
  }
  40%{
    width: 50px;
  }
  20% {
    width: 100%;
  }
}



.card{
  .preloader-cont{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &.pop-up-active{
    z-index: 280;
  }
}

//PRELOADER STYLES


.dashboard-container{
  margin-bottom: 50px;
}
html{
  height: 100%;
  min-height: 100%;
}
.card{
  //width: 280px;
  //min-height: 220px;
  height: auto!important;
  min-height: 220px;
  width: 280px;
  //float: left;
  color:$grayDarkText;
  background-color: #fff;
  padding: 0;
  outline: none;
  //position: relative;
  //transition: width .3s linear;
  z-index: 2;
  overflow: visible;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,.1);
  &.big-2{
    //width: 580px;
    //height: auto;
  }

  .card-header{
    padding-left: 30px;
    min-height: 30px;
    height:auto;
    padding-top: 23px;
    position: relative;
    vertical-align: middle;
    color:$grayDarkText;
    .card-title{
      font-size: 16px;
      font-weight: 600;


    }
    &:not(.card-action){
      cursor:move;
    }

    //text-transform: uppercase;
    background-color: #fff;
    @extend %clearfix;
    .card-action{
      position: absolute;
      background-color: transparent;
      top: 0;
      right: 10px;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      transition: opacity .15s linear;
      .burger{
        display: inline-block;
        text-align: center;
      }
      .delete{
        display: inline-block;
        margin:0 10px;
      }
    }
    .setting-wrap{
      float: right;
      position: relative;
      right: 9px;
      top: -3px;
      font-weight: normal;
      .preloader-wrapped{
        width: 20px;
        height: 20px;
        position:absolute;
        display: none;
        left: 0;
        top: 0;
        .preloader {
          margin: 0;
          text-align: center;
          font-size: 10px;
          position: absolute;
          left: 50%;
          right: 0;
          bottom: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
          z-index: 1111;
        }

        .preloader > div {
          background-color: #314156;
          height: 1px;
          width: 3px;
          margin-bottom: 5px;
          display: block;
          -webkit-animation: stretchdelaymin 0.7s infinite linear;
          animation: stretchdelaymin 0.7s infinite linear;
        }

        .preloader .circ2 {
          -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
        }

        .preloader .circ3 {
          -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
        }

        .preloader .circ4 {
          -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
        }

        .preloader .circ5 {
          -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
        }



        @keyframes stretchdelaymin {
          0%,  100% {
            width: 10px;
          }
          40%{
            width: 20px;
          }
          20% {
            width: 25px;
          }
        }
      }
      //font-size: 19px;

      &.ajax-loading{
        .preloader-wrapped{
          display: block;
        }
      }
    }
    .tooltip{
      transform: none;
      right: -18px;
      top: 31px;
      width: auto;
      display: none;
      min-width: 265px;
      .tooltip-arrow{
        left: 89%!important;
      }
      .tooltip-title{
        font-weight: 600;
        margin-bottom: 10px;
      }
      .delete-widget a{
        color:$redArrow;
        &:hover{
          color:$redArrow;
        }
      }
      &.visible{
        display: block;
      }
    }
    .icon{
      color: $gray;
      cursor: pointer;
      transition: all .3s linear;
      opacity: 0;
      right: 17px;
      position: static;
      visibility: hidden;
      background-color: #fff;
      &:before{
        display: inline-block;
        vertical-align: middle;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        background:linear-gradient(to right, rgba(255,255,255, 0) 0%, rgba(255,255,255,1)100%);
        z-index: 22;
        width: 70px;
        left: -70px;
        top: 1px;
      }
      &:hover{
        color: $grayDarkText;
      }
    }
    &:hover{
      .icon{
        opacity: 1!important;
        visibility: visible!important;
      }
    }
  }

  .card-title{
    font-weight: bold;
    padding-right:20px;
  }

  &:hover{
    .card-action{
      opacity: 1;
      pointer-events: auto;
    }
  }
  .card-content{
    padding: 25px 30px;
    min-height: 180px;
  }
  &.is-pointer-down{
    z-index: 111;
  }
  &.is-positioning-post-drag{
    z-index: 111;
  }
  .courses-table-wrap{
    margin-top: -10px;
    table{
      thead{
        font-size: 12px;
        color: #B6BFCA;
        th{
          border-bottom: none;
          text-align: right;
          padding-top: 5px;
          padding-bottom: 5px;
          &:last-of-type{
            padding-right: 0;
          }
        }
      }
      tbody{
        tr{
          td{
            text-align: right;
            padding-bottom: 0;
            padding-top: 7px;
            .value{
              color: #314156;
              font-size: 16px;
              display: block;
            }
            .schedule{
              font-size:10px;
              padding-right: 0;
              text-align: right;
              display: block;
              &.positive{
                color: #14B489;
              }
              &.negative{
                color: #FD7788;
              }
            }
            &.currencyName{
              color: #B6BFCA;
            }
            &:last-of-type{
              padding-right: 0;
              .schedule{
                padding-right: 0;
              }
            }
            &:first-of-type{
              text-align: center;
            }
          }
        }

      }
    }
  }
  .top-exchangers-wrap {
    table {
      thead {
        font-size: 12px;
        color: #B6BFCA;
        th {
          border-bottom: none;
          text-align: center;
          padding-top: 5px;
          padding-bottom: 5px;
          &:last-of-type {
            padding-right: 0;
          }
          &:first-of-type {
            text-align: left;
          }
        }
      }
      tbody {
        tr {
          td {
            text-align: center;
            &:first-of-type {
              text-align: left;
              a {
                color: $base-color;
                cursor: pointer;
                &:hover {
                  color: $greenBtn;
                }
              }
            }
            .gray-curr {
              color: #B6BFCA;
            }
            &.comments {
              color: $gray;
              .positive {
                color: #14B489;
              }
              .negative {
                color: #FD7788;
              }
            }
          }
        }
      }
    }
  }
  table.black-market-widget-table{
    thead{
      font-size: 12px;
      color: #B6BFCA;
      th{
        border-bottom: none;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 0px;
        &:last-of-type{
          padding-right: 0;
        }
        &:first-of-type{
          text-align: left;
        }
        &:nth-of-type(4){
          border-right: 1px solid #B6BFCA + 30%;
        }
      }
    }
    tbody{
      tr{
        td{
          text-align: center;
          padding-bottom: 5px;
          &:first-of-type{
            text-align: left;
            a{
              color: $base-color;
              cursor: pointer;
              &:hover{
                color: $greenBtn;
              }
            }
          }
          .gray-curr{
            color:#B6BFCA;
          }
          &.comments{
            color: $gray;
            .positive{
              color: #14B489;
            }
            .negative{
              color: #FD7788;
            }
          }
          .delta{
            display: block;
            font-size: 11px;
            &.positive{
              color: #14B489;
            }
            &.negative{
              color: #FD7788;
            }
          }
          &:nth-of-type(4){
            border-right: 1px solid #B6BFCA + 30%;
          }
        }
        border-bottom: 1px solid #B6BFCA + 30%;
        &:last-of-type{
          border-bottom: none;
        }
      }
    }
  }
}

.container{
  @extend %clearfix;
}
.packery-drop-placeholder {
  //outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  position: relative;
  background-color: #DCDFE2;
  z-index: 0;
}
body{
  height: auto!important;
}
.content{
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
  background-color: $grayBg;
}
.not-found-cont{
  margin-top: -69px!important;
  h1{
    text-align: center;
    font-size: 246px;
    font-weight: 400;
    color: $grayBorder;
    margin-bottom: 0;
    margin-top: 11px;
  }
  p{
    text-align: center;
    margin-top:5px;
    margin-bottom: 26px;
  }
  .btn-cont{
    text-align: center;
    .btn{
      display: inline-block;
      width: auto;
      padding: 0 52px;
      font-size: 15px;
      letter-spacing: 1px;
      line-height: 35px;
    }
  }
}
.powered-by-not-found{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 12px;
  a{
    color: $grayDarkText;
    font-size: 12px;
    span{
      display: inline-block;
      vertical-align: middle;
    }
    .icon{
      font-size: 65px;
      /* background-color: white; */
      display: inline-block;
      margin-bottom: -22px;
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}
.aside-container{
  position: relative;
  .search-input-wrap{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}


//React-select

/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: none;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
.react-grid-item{
  > div{
    height: 100%;
  }
}
.informer{
  background-color: #E8F3FA;
  .card-header{
    background-color: #E8F3FA;
    .informer-wrap{
      p{
        margin-top: 0;
        margin-bottom: 0;
      }
      }
  }
  .card-content{
    padding-top: 0;
  }
}
.tooltip{
  position: absolute;
  height: auto;
  background-color: #fff;
  z-index: 2222222222222;
  border: 1px solid #B6BFCA;
  transform: translateX(-80px) translateY(6px);
  box-shadow: 3px 3px 11px 0.1px  rgba(0,0,0,.1);
  width: auto;
  padding: 20px;

  .tooltip-arrow{
   display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top:-4px;
    left: 79.5% !important;
    transform: rotate(45deg);
    background-color: #fff;
    border: 1px solid #B6BFCA;
    border-bottom: none;
    border-right: none;
  }
  &.fade{
    opacity: 0;
  }
  &.in{
    opacity: 1;
  }

}

//React-select


//dropdonw number
.Dropdown-root{
  margin:  0!important;
}
.Dropdown-root .Dropdown-menu{
  left: 0!important;
  right: auto!important;
  opacity: 0;
  transition: all .3s linear;

}
.card{
  .Dropdown-root .Dropdown-menu{
    padding: 0;
    .Dropdown-option{
      padding-left: 10px;
      display: block;
      white-space: nowrap;
      padding-right: 10px;
      &:hover{
        background-color: $grayLight;
      }
    }
  }
}
.Dropdown-root{
  &.is-open{
    .Dropdown-menu{
      opacity: 1;
    }
  }
}

.widget-header-count-block {
  display: inline-block;
  border-bottom: 1px dotted #B6BFCA;
  cursor: pointer;
  margin-right: 5px;
}
.Dropdown-root .Dropdown-control{
  border-bottom:none!important;
}
.Dropdown-root .Dropdown-menu:before {
  position: absolute !important;
  display: block !important;
  content: "" !important;
  top: -6px !important;
  left: 15px !important;
  width: 10px !important;
  height: 10px !important;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
  background-color: #fff !important;
  border-top: 1px solid #E1E5EB !important;
  border-left: 1px solid #E1E5EB !important;
  z-index: -1;
}


//
//.example-enter {
//  opacity: 0.01;
//}
//
//.example-enter.example-enter-active {
//  opacity: 1;
//  transition: all 500ms ease-in;
//}
//
//.example-leave {
//  opacity: 1;
//}
//
//.example-leave.example-leave-active {
//  opacity: 0.01;
//  transition: all 300ms ease-in;
//}
//dropdown number

.single-exchanger-card{
  min-height: 326px;
  .react-selectize{
    &.default{
      width: 200px;
      display: inline-block;
    }
    .dropdown-menu{
      border: none!important;
      box-shadow: none!important;
      width: 100%;
      width: 200px;
      min-width: 100px;
      position: static;
    }
  }
  .react-selectize.root-node .react-selectize-control .react-selectize-reset-button-container{
    display: none;
  }
  .react-selectize.root-node .react-selectize-control .react-selectize-toggle-button-container{
    display: none;
  }
  .simple-select.react-selectize.default.root-node .react-selectize-control{
    background-color: #fff;
    background-image: none;
    border: none!important;
  }

  .selectize-wrap{
    overflow: hidden;
    top: 100%;
    left: 0;
    width: 200px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    //transition: all .01s linear;
    &.hidden{
      display: block;
      opacity: 0;
      pointer-events: none;
    }
    &.loading{
      .preloader-select{
        display: block;
        .preloader-wrapped{
          position: relative;
          height: 120px;
        }
        .preloader {
          margin: 0;
          text-align: center;
          font-size: 10px;
          position: absolute;
          left: 15px;
          right: 0;
          bottom: 0;
          top: 96%;
          width: 70px;
          z-index: 1111;
        }

        .preloader > div {
          background-color: #72c2a1;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          display: inline-block;

          -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
          animation: stretchdelay 0.7s infinite ease-in-out;
        }

        .preloader .circ2 {
          -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
        }

        .preloader .circ3 {
          -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
        }

        .preloader .circ4 {
          -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
        }

        .preloader .circ5 {
          -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
        }

        @-webkit-keyframes stretchdelay {
          0%, 40%, 100% { -webkit-transform: translateY(-10px) }
          20% { -webkit-transform: translateY(-20px) }
        }

        @keyframes stretchdelay {
          0%, 40%, 100% {
            transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
          } 20% {
              transform: translateY(-20px);
              -webkit-transform: translateY(-20px);
            }
        }
      }
      .react-selectize{
        opacity: 0;
      }
    }
    .simple-option{

      display: block!important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transform: translate3d(0,0,0);
      .opt-wrap{
        text-decoration: none!important;
      }
      .ru-arrow{
        text-decoration: none!important;
      }


    }
    .cur-value{

    }
  }

  .ex-drop-wrap{
    position: relative;
  }


  padding-bottom: 26px;
  .card-header{
    background-color: transparent;
  }
  .card-content{
    padding-left: 32px;
  }
  .exchanger-logo{
    display: block;
    float: left;
    margin-top: -25px;
  }
  .left-widget-block{
    @extend %clearfix;
    width: 25%;
    float: left;
  }
  .right-widget-block{
    float: right;
    margin-top: -33px;
    width: 71.8%;
    .name{
      margin-bottom: 15px;
      .favorites{
        display: inline-block;
      }
    }
    .exchanger-link{
      margin-bottom: 17px;
    }
    .exchanger-params{
      .left-block{
        width: 43%;
        float: left;
        span{
          display: block;
          color: $text-gray;
          font-size: 16px;
          margin-bottom: 6px
        }
      }
      .right-block{
        float: right;
        width: 57%;
        div{
          display: block;
          margin-bottom: 6px
        }
      }
    }
  }
}
.profile-btn{
  position: relative;
  .user-drop-menu{
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    position: absolute;
    background-color: #fff;
    right: 0;
    border: 1px solid #B6BFCA;
    padding: 15px;
    box-shadow: 3px 3px 11px 0.1px rgba(0, 0, 0, 0.1);
    ul{
      margin: 0;
      padding: 0;
      li{
        margin: 0;
        padding: 0;
        transition: all .15s linear;
        list-style: none;
        font-size: 16px;
        &:hover{
          color: #000;
        }
      }
    }
    &:before{
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      top: -4px;
      right: 12px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: #fff;
      border: 1px solid #B6BFCA;
      border-bottom: none;
      border-right: none;
    }
  }
  &.open{
    .user-drop-menu{
      opacity: 1;
      visibility: visible;
    }
  }
}
.widget-selection{
  margin-bottom: 38px;
}
.widget-descr{
  width: 71%;
}
.out-of-cat{
  display: none!important;
}
.not-found-container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 22222;
  background-color: #F0F2F5;
  .not-found-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    transform: translate(-50%, -50%);
    h1{
      font-weight: bold!important;
    }
  }
}
.not-found-container{
  width: 100%!important;
}
.flash-message{
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  opacity: 1;
  display: none;
  z-index: 2222222;
  color: #fff;
  background-color: #14B489;
  height: 60px;
  line-height:60px;
  .flash-icon{
    float: left;
    position: absolute;
    left: 0px;
    font-size: 25px;
    padding-left: 20px;
  }
  .flash-text{
    text-align: center;
    font-weight: 500;
  }
  .flash-close{
    cursor: pointer;
    position: absolute;
    top: -3px;
    right: 25px;
    font-size: 10px;
  }
}

.single-news{
  position: relative;
  padding-left: 0px;
  margin: 0;
  margin-bottom: 10px;
  .time{
    color: #B6BFCA;
    float: none;
    height: 100%;
    position: static;
    font-size: 14px;
    left: 0;
  }
  a{
    color: #1592B3;
    &:hover{
      color: #1592B3 + 40%;
    }
  }

}
.more-news{
  margin-left: 70px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 1px dotted $grayBorder;
}
.ex-logo-table{
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.direction-item{
  padding: 11px 0 13px;
  //margin-bottom: -2px;
  border-bottom: 1px solid $grayBorderLight;
  &:first-of-type{
    margin-top: -15px;
  }
  &:last-of-type{
    border-bottom: none;
    padding-bottom: 0;
  }
  @extend %clearfix;
  .from{
    position: relative;
    float: left;
    width: 90px;
    white-space: nowrap;
    overflow: visible;
    cursor: pointer;
    //font-size: 12px;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 35px;
      height: 20px;
      top: 0;
      right: -20px;
      background: linear-gradient(to right, rgba(255,255,255, 0) 0%, rgba(255,255,255,1)20%);
    }
    img{
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      margin-top: -2px;
      user-select: none;
    }
  }
  .divider{
    float: left;
    width: 30px;
    text-align: center;
    left: -8px;
    font-size: 20px;
    height: 10px;
    position: relative;
    z-index: 10;
  }
  .to{
    position: relative;
    float: left;
    width: 90px;
    white-space: nowrap;
    cursor: pointer;
    overflow: visible;
    //font-size: 12px;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 35px;
      height: 20px;
      top: 0;
      right: -30px;
      background: linear-gradient(to right, rgba(255,255,255, 0) 0%, rgba(255,255,255,1)20%);
    }
    img{
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      width: 16px;
      height: 16px;
      user-select: none;
    }
  }
}

.fast-exchange{
  z-index: 22;
  min-height: 271px;

  .derection-dropdown.selectize-wrap{
    //right: -33px;
    //left: auto;
    left: 0;
    top: 94px;
    min-width: 580px;
    width: auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    &:before{
      right: 214px;
      left: auto;
    }
  }
  .exTooltip{
    position: absolute;
    width: 360px;
    z-index: 99;
    padding-bottom: 0;
    height: auto;
    background-color:#fff;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    .favorite-star{
      position: static!important;
    }
    &.right{
      left: 110%;
      top:-24px;
      .exTooltipWrap{
        &:before{
          display: block;
          content: '';
          left: -4px;
          top: 33px;
          transform: rotate(-45deg);
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: #fff;
          border: 1px solid $grayBorder;
          border-right:none;
          border-bottom:none;
        }
      }
    }
    &.left{
      right: 110%;
      top:-3px;
      .exTooltipWrap{
        &:before{
          display: block;
          content: '';
          left: auto;
          right: -4px;
          top: 33px;
          transform: rotate(-45deg);
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: #fff;
          border: 1px solid $grayBorder;
          border-left:none;
          border-top:none;
        }
      }
    }
    opacity: 0;


    visibility: hidden;
    transition: all .3s linear;
    border: 1px solid $grayBorder;
    .details{
      font-size: 15px;
    }

    .info-block{
      @extend %clearfix;
    }
    .best-offer-wrap{

    }
    .exTooltipWrap{
      position: relative;
      padding: 25px 30px;
      &:before{
        display: block;
        content: '';
        left: -4px;
        top: 33px;
        transform: rotate(-45deg);
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border: 1px solid $grayBorder;
        border-right:none;
        border-bottom:none;
      }
      .color-red{
        color:$redArrow;
      }
      .color-green{
        color:$greenArrow;
      }
      .exchanger-logo{
        margin-bottom: 10px;
      }
      .left-part{
        float:left;
        text-align: left;
        color: $grayBorder;
        width: 50%;
        .item{
          margin-bottom: 10px;
        }
      }
      .left-tooltip-block{
        float: none;
        .exchanger-logo{
          img{
            float: left;
          }
          .name{
            float: left;
          }
          @extend %clearfix;
        }
      }
      .right-tooltip-block{
        float: none;
        margin-top: 0;
        width: 100%;
        .name{
          margin-bottom: 15px;
          .favorites{
            display: inline-block;
          }
        }
        .exchanger-link{
          margin-bottom: 17px;
          a {
            color: #000;
            &:hover {
              color: #14B489;
            }
          }
        }
        .exchanger-params{
          & > div {
            @extend %clearfix;
          }
          .left-block{
            width: 50%;
            float: left;
            span{
              display: block;
              color: $text-gray;
              font-size: 16px;
              margin-bottom: 6px
            }
          }
          .right-block{
            float: right;
            width: 50%;
            padding-left: 20px;
            div{
              display: block;
              margin-bottom: 6px
            }
          }
        }
      }
      .right-part{
        float: left;
        text-align: left;
        .r-item{
          margin-bottom: 10px;
          line-height: 24px;
          .ru-arrow{
            display: inline-block;
            margin-right: 5px;
            font-size: 22px;
            margin-left: 5px;
            color: $grayBorder;
            &:before{
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
      .best-offer-wrap{
        margin-bottom: 0px;
        @extend %clearfix;
        .no-float{
          float: none;
        }
        .ex-link{
          img{
            width: 40px;
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

          }
        }
        .right-part{
          line-height: 37px;
        }
        .item{
          @extend %clearfix;

        }
      }
    }
    .currpair-visual{
      text-align: left;
      margin-bottom: 20px;
      @extend %clearfix;
      .ru-arrow{
        display: inline-block;
        margin-right: 10px;
        font-size: 22px;
        color: $grayBorder;
        &:before{
          display: inline-block;
          vertical-align: middle;
        }
      }
      .currpair-item{
        margin-right: 10px;
        display: inline-block;
        img{
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }
  .best-exchanger{
    position: relative;
    cursor: pointer;
    &.tooltip-visible{
      .exTooltip{
        opacity: 1;
        visibility: visible;
      }
    }
  }

  #fast-ex-direction-star{
    vertical-align: middle;
    margin-top: -2px;
  }
  .direction-block{
    @extend %clearfix;
    margin-bottom: 23px;

    .direction-wrap{
      @extend %clearfix;
      float: left;
      white-space: nowrap;
      transition: background-color .15s linear;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 30px;
      margin-top: -10px;
      cursor: pointer;
      #fast-ex-direction-star{
      }
      &:hover{
        background-color: #F0F2F5;
      }
    }
  }

  .best-course{
    margin-bottom: 12px;
    letter-spacing: 0.4px;
    .best-exchanger{
      display: inline-block;
      margin-left: 14px;
      span{
        color:$exchGreen;
        font-weight:bold;
      }
      img{
        width: 20px;
        height: 20px;
        margin-right: 7px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .favorite-star{
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-left:8px;
    }

  }
  .divider{
    display: block;
    float: left;
  }
  .dotted{
    border-bottom: 1px dotted $grayBorder;
  }
  .amount-input{
    float: left;
    input{
      border:none;
      border-bottom: 1px solid $grayBorder;
      outline: none;
      width: 50px;
      min-width: 50px;
      line-height: 17px;
      letter-spacing: 1px;
    }
    margin-right: 20px;
  }
  .result-block{
    display: flex;
    align-items: center;
    .currency{
      float: left;
      margin-right: 8px;
      color: $gray;
    }
    .commission{
      float: left;
      white-space: nowrap;
      margin-right: 20px;
    }
    @extend %clearfix
  }
  .buttons-block{
    margin-top: 20px;
    @extend %clearfix;
    .btn{
      width: 48%;
      &:first-of-type{
        float: left;
      }
      &:last-of-type{
        float: right;
      }
      &.btn-gray{
        background-color: $grayBorder;
      }
    }
  }
  .cur-icon{
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-right: 6px;
    width: 25px;
    height: 25px;
    margin-top: -4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .selected-currency-from{
    margin-right: 10px;
    cursor: pointer;
    img{
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 16px;
      height: 16px;
      margin-top: -1px;
    }
  }
  .selected-currency-to{
    margin-right: 5px;
    cursor: pointer;
    img{
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .divider{
    margin-right: 10px;
    font-size: 20px;
    margin-top: -5px;
    .ru-arrow{
      &:before{
        content: "\61";
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .react-selectize{
    &.default{
      width: 100%;
      display: block;
    }
    .dropdown-menu{
      border: none!important;
      box-shadow: none!important;
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
      margin-bottom: -20px;
      padding-bottom: 40px;
      height: calc(200px + 20px);
      max-height: 300px;
      margin-top: 10px;
      min-width: 100px;
      position: static;
    }
  }
  .react-selectize.root-node .react-selectize-control .react-selectize-reset-button-container{
    display: none;
  }
  .react-selectize.root-node .react-selectize-control .react-selectize-toggle-button-container{
    display: none;
  }
  .simple-select.react-selectize.default.root-node .react-selectize-control{
    background-color: #fff;
    background-image: none;
    border: none!important;
  }
  .derection-dropdown{
    transition: all .15s linear;
    &.hidden{
      opacity: 0;
      transform: translateY(20px);
      visibility: hidden;
    }
    &.open{
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);

    }

    .simple-option{
      text-decoration: none!important;
    }
  }
  .selectize-wrap{
    //overflow: hidden;
    top: 100%;
    left: -20px;
    margin-top:8px;
    position: absolute;
    width: 210px;
    z-index: 22;
    background-color: #fff;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    border: 1px solid $gray-border;
    //transition: all .3s linear;
    //&:before{
    //  position: absolute;
    //  content: '';
    //  top: -5px;
    //  left: 65px;
    //  width: 8px;
    //  height: 8px;
    //  background-color: #fff;
    //  border-left:1px solid $gray-border;
    //  border-top:1px solid $gray-border;
    //  transform:rotate(45deg);
    //}
    &.hidden{
      display: block;
      opacity: 0;
      pointer-events: none;
    }
    &.loading{
      .react-selectize{
        opacity: 0;
      }
    }
    &.open + .dropdown-arrow:before {
      position: absolute;
      content: '';
      top: 23px;
      left: 7px;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border-left:1px solid $gray-border;
      border-top:1px solid $gray-border;
      transform:rotate(45deg);
      z-index: 100;
    }

    &.open.hidden + .dropdown-arrow:before {
      content: none;
    }

    .simple-option{
      display: block!important;
      line-height:38px;
      color: #000;
      overflow: hidden;
      padding-left: 20px!important;
      padding-right: 20px!important;
      padding-top: 0!important;
      padding-bottom: 0!important;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: none;
      //text-decoration: line-through;
      &.active{
        background-color: transparent;
        text-decoration: none;
      }
      &:hover{
          background-color: $selectFill;
      }
      span{
        color: #000;
        font-size: 17px;
      }
    }
    .cur-value{

    }
  }

  .selected-currency-from{
    position: relative;
    float: left;
    .preloader-select{
      display: none;
    }
    .react-selectize.default.root-node .react-selectize-control .react-selectize-search-field-and-selected-values {
      padding-left: 15px;
      height: 33px;
    }
    .react-selectize-search-field-and-selected-values{
      border-bottom: 1px solid $grayBorder;
      &:before{
        display: inline-block;
        content: "\79";
        font-family: 'ratex';
        position: absolute;
        color: $grayBorder;
        font-size: 23px;
        /* width: 20px; */
        /* height: 20px; */
        z-index: 22;
        left: -6px;
        top: 0px;
        text-align: center;
      }
    }
  }
  .selected-currency-to{
    position: relative;
    float: left;
    .selectize-wrap{
      overflow: hidden;
      top: 100%;
      left: 0;
      position: absolute;
      background-color: #fff;
      box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
      transition: all .3s linear;
      &.hidden{
        display: block;
        opacity: 0;
        pointer-events: none;
      }
      .simple-option{

        display: block!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

      }
      .cur-value{

      }
    }
    .react-selectize.default.root-node .react-selectize-control .react-selectize-search-field-and-selected-values {
      padding-left: 15px;
    }
    .react-selectize-search-field-and-selected-values{
      border-bottom: 1px solid $grayBorder;
      &:before{
        display: inline-block;
        content: "\79";
        font-family: 'ratex';
        font-size: 20px;
        position: absolute;
        /* width: 20px; */
        /* height: 20px; */
        z-index: 22;
        left: -2px;
        text-align: center;
      }
    }
  }
  .curr-pairs-select{
    //position: relative;
    float: left;
    text-decoration: none!important;

  }
  .more-ex-table{

    h3{
      font-size: 16px;
      line-height: 24px;
      margin-bottom: -10px;
      margin-top: 18px;
      letter-spacing: 0.5px;
    }
    thead{
      tr{
        th{
          font-size: 12px;
          line-height:15px;
          text-align: center;
          padding: 0;
          color: #b6bfca;
          border-bottom: none;
          &:nth-of-type(3){
            padding-left: 30px;
            text-align: left;
          }
        }
      }
    }
    tbody{
      tr{
        .favorite-star{
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top:13px;
          right: 0;
          transition: all .15s linear;

        }
        &:hover{
          .favorite-star{
            opacity:1;
            visibility: visible;
          }
        }
      }
      td{
        white-space: nowrap;
        position: relative;
        &:first-of-type{
          padding-right: 0;
        }
        &:nth-of-type(2){
          color:$text-gray;
          padding: 10px 0;
          padding-right: 15px;
        }
        &:nth-of-type(3){
          color:$exchGreen;
          max-width: 115px;
          overflow: visible;
          cursor: pointer;
        }
        &:nth-of-type(4){
          text-align: center;
          padding-right: 0;
        }
        &:last-of-type{
          text-align: right;
          padding-right: 25px;
          max-width: 100px;
          position: relative;
        }
        img{
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right:10px;
          color: #314156;
          line-height: 18px;
        }
      }
    }

  }

}
.gray-currency{
  display: inline-block;
  color:$text-gray;
}
.ru-arrow{
  margin-left: 5px;
  color:$grayBorder;
  &.down{
    color:$redArrow;
    display: inline-block;
    font-size: 16px;
    &:before{
      display: block;
      transform:rotate(90deg);
    }
  }
  &.up{
    color:$greenArrow;
    display: inline-block;
    font-size: 16px;
    &:before{
      display: block;
      transform:rotate(-90deg);
    }
  }
}
.direction-item{
  position: relative;
  .divider{
    cursor: pointer;
  }
  .currPairTooltip{
    position: absolute;
    width: 350px;
    height: auto;
    background-color:#fff;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    opacity: 0;
    top:-10px;
    visibility: hidden;
    transition: all .3s linear;
    border: 1px solid $grayBorder;
    &.right{
      left: 90%;
    }
    &.left{
      right: 100%;
      .currPairTooltipWrap{
        &:before{
          display: block;
          content: '';
          left: auto;
          right: -5px;
          top: 11px;
          transform: rotate(-45deg);
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: #fff;
          border: 1px solid $grayBorder;
          border-left:none;
          border-top:none;
        }
        @extend %clearfix;
      }
    }
    .info-block{
      @extend %clearfix;
    }
    .best-offer-wrap{

    }
    .currPairTooltipWrap{
      position: relative;
      padding:20px;
      &:before{
        display: block;
        content: '';
        left: -5px;
        top: 11px;
        transform: rotate(-45deg);
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border: 1px solid $grayBorder;
        border-right:none;
        border-bottom:none;
      }
      .left-part{
        float:left;
        text-align: left;
        color: $grayBorder;
        width: 50%;
        overflow: hidden;
        position: relative;
        .item{
          margin-bottom: 10px;
          line-height: 24px;
        }
        .ex-link {
          color: #000;
          white-space: nowrap;
          &:hover {
            color: #14B489;
          }
          &:after {
            display: block;
            position: absolute;
            content: "";
            width: 35px;
            height: 20px;
            top: 10px;
            right: -25px;
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 20%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 20%);
          }
        }
      }
      .right-part{
        float: left;
        text-align: left;
        width: 50%;
        overflow: hidden;
        .r-item{
          margin-bottom: 10px;
          line-height: 24px;
          .ru-arrow{
            display: inline-block;
            margin-right: 5px;
            font-size: 22px;
            margin-left: 5px;
            color: $grayBorder;
            &:before{
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
      .best-offer-wrap{
        margin-bottom: 0px;
        @extend %clearfix;
        .no-float{
          float: none;
        }
        .ex-link{
          img{
            width: 40px;
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

          }
        }
        .right-part{
          line-height: 37px;
        }
        .item{
          @extend %clearfix;

        }
        .r-item{
          line-height: 34px;
        }
      }
    }
  .currpair-visual{
    text-align: left;
    margin-bottom: 20px;
    @extend %clearfix;
    .ru-arrow{
     display: inline-block;
      margin-right: 10px;
      font-size: 22px;
      color: $grayBorder;
      &:before{
        display: inline-block;
        vertical-align: middle;
      }
    }
    .currpair-item{
      margin-right: 10px;
      display: inline-block;
      img{
        margin-right: 10px;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        display: inline-block;
      }
    }
  }
  }
  &.tooltip-visible{
    .currPairTooltip{
      opacity: 1;
      visibility: visible;
    }
  }
}
.no-min-height{
  min-height: 1px!important;
  @extend %clearfix
}
.stats-wrap{
  .left-part{
    float: left;
    ul{
      li{
        color: $grayBorder;
      }
    }
  }
  .right-part{
    float: right;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
    }
  }
}
.tooltip-transparent{
  opacity: 0;
}
.national-bank-rates-wrap{
  .amount-input{
    input{
      display: inline-block;
      width: 100px;
    }
  }
}

.top-exchangers{
  .ex-name-wrap{
    display: inline-block;
  }

  .topExchangerName{
    position: relative;
    display: inline-block;
    width: 10px;
  }

  .exTooltip{
    position: absolute;
    width: 360px;
    z-index: 99;
    padding-bottom: 0;
    height: auto;
    background-color:#fff;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    opacity: 0;
    visibility: hidden;
    transition: none;
    border: 1px solid $grayBorder;
    &.right{
      left: 100%;
      top:-43px;
      .exTooltipWrap{
        &:before{
          display: block;
          content: '';
          left: -4px;
          top: 33px;
          transform: rotate(-45deg);
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: #fff;
          border: 1px solid $grayBorder;
          border-right:none;
          border-bottom:none;
        }
      }
    }
    &.left{
      right: 110%;
      top:-3px;
      .exTooltipWrap{
        &:before{
          display: block;
          content: '';
          left: auto;
          right: -4px;
          top: 33px;
          transform: rotate(-45deg);
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: #fff;
          border: 1px solid $grayBorder;
          border-left:none;
          border-top:none;
        }
      }
    }

    .details{
      font-size: 15px;
    }

    .info-block{
      @extend %clearfix;
    }
    .best-offer-wrap{

    }
    .exTooltipWrap{
      img{
        width: 30px;
        height: 30px;
        margin-right: 7px;
        display: inline-block;
        vertical-align: middle;
      }
      position: relative;
      padding: 25px 30px;
      &:before{
        display: block;
        content: '';
        left: -4px;
        top: 33px;
        transform: rotate(-45deg);
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border: 1px solid $grayBorder;
        border-right:none;
        border-bottom:none;
      }
      .color-red{
        color:$redArrow;
      }
      .color-green{
        color:$greenArrow;
      }
      .exchanger-logo{
        margin-bottom: 10px;
        .favorite-star {
          margin-top: 5px;
        }
      }
      .left-part{
        float:left;
        text-align: left;
        color: $grayBorder;
        width: 50%;
        .item{
          margin-bottom: 10px;
        }
      }
      .left-tooltip-block{
        float: none;
        .exchanger-logo{
          img{
            float: left;
          }
          .name{
            float: left;
          }
          @extend %clearfix;
        }
      }
      .right-tooltip-block{
        float: none;
        margin-top: 0;
        width: 100%;
        .name{
          margin-bottom: 15px;
          .favorites{
            display: inline-block;
          }
        }
        .exchanger-link{
          margin-bottom: 17px;
        }
        .exchanger-params{
          & > div {
            @extend %clearfix;
          }
          .left-block{
            width: 50%;
            float: left;
            span{
              display: block;
              color: $text-gray;
              font-size: 16px;
              margin-bottom: 6px
            }
          }
          .right-block{
            float: right;
            width: 50%;
            padding-left: 20px;
            div{
              display: block;
              margin-bottom: 6px
            }
          }
        }
      }
      .right-part{
        float: left;
        text-align: left;
        .r-item{
          margin-bottom: 10px;
          line-height: 24px;
          .ru-arrow{
            display: inline-block;
            margin-right: 5px;
            font-size: 22px;
            margin-left: 5px;
            color: $grayBorder;
            &:before{
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
      .best-offer-wrap{
        margin-bottom: 0px;
        @extend %clearfix;
        .no-float{
          float: none;
        }
        .ex-link{
          img{
            width: 40px;
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

          }
        }
        .right-part{
          line-height: 37px;
        }
        .item{
          @extend %clearfix;

        }
      }
    }
    .currpair-visual{
      text-align: left;
      margin-bottom: 20px;
      @extend %clearfix;
      .ru-arrow{
        display: inline-block;
        margin-right: 10px;
        font-size: 22px;
        color: $grayBorder;
        &:before{
          display: inline-block;
          vertical-align: middle;
        }
      }
      .currpair-item{
        margin-right: 10px;
        display: inline-block;
        img{
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }

  .tooltip-visible{
    .exTooltip{
      opacity: 1;
      z-index: 22222;
      visibility: visible;
    }
  }

}
.layout-wrap{
  overflow: hidden;
}
.news{
  min-height: 495px;
}
.top-directions{
  min-height: 331px;
}
.national-bank-rates{
  min-height: 252px;
  &.national-bank-rates-input-less{
    min-height: 227px!important;
  }
  .card-content{
    padding-top: 20px;
    .amount-input{
      color: $text-gray;
      font-weight: normal;
      input{
        border-top:none;
        border-left:none;
        border-right:none;
        margin-left: 9px;
        margin-right: 5px;
        border-bottom: 1px solid $grayBorder;
        height: 29px;
        outline: none;
        color: $grayText;
        min-width: 31px;
        width: 31px;
      }
    }
    table{
      .currency-td{
        color: $text-gray;
        padding-right: 10px;
        width: 30%;
      }
    }
  }
}
.top-exchangers{
  min-height: 346px
}
.tooltip-visible{
  .currPairTooltip{
    opacity: 1;
    visibility: visible;
    z-index: 22;
  }
}
.btn-add-widget{
  img{  }
  &.heroyam-slava{
    img{
      display: block;
    }
  }
  img{
    width: 20px;
    height: 20px;
  }
}
.directory-wrap{
  background-color: #fff;
  padding: 30px;
  margin-bottom: 50px;
  .directory-header-wrap{
    .search-input{
      width: 15px;
      overflow: hidden;
      margin-bottom: 0;
      padding-top: 0;
      transition: width .3s ease-in;
      position: relative;
      &:before{
        font-family: 'ratex-ui';
        content: "\6b";
        display: block;
        position: absolute;
        left: 0;
        top: 3px;
        z-index: 111;
        color: $grayBorder;
        font-size: 15px;
      }
      input{
        width: 208px;
        padding-left: 20px;
        border-top:transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom: 1px solid transparent;
        position: relative;
        padding-bottom: 5px;
        &::placeholder{
          color: transparent;
        }
        &:focus{
          outline: none;
        }
      }
      .searchInput{
        position: static;
        width: 100%;
        max-width: 100%;
        border-bottom: 1px solid $grayBorder;
        box-sizing: border-box;
      }
      .icon-search{
        color: $grayBorder;
      }

      &.active{
        width: 208px;
        input{
          border-bottom: 1px solid $grayBorder;
        }
      }
    }
    .filters-array{
      float: right;
      max-width: 400px;
      text-align: right;
      .filter-item{
        margin-bottom: 10px;
        display: inline-block;
        background-color: $base-color;
        color: #fff;
        height: 25px;
        line-height: 25px;
        padding-left: 10px;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 25px;
        position: relative;
        .delete-filter{
          cursor: pointer;
          position: absolute;
          right: 0;
          z-index: 22;
          width: 20px;
          font-size: 20px;
          top: 1px;
          border-left: 1px solid #fff;
          padding-left: 5px;
          display: inline-block;
          text-align: left;
          font-size: 18px;
          margin-top: -1px;

          //display: inline-block;
          //font-size: 20px;
          //height: 25px;
          //line-height: 27px;
          //padding-top: 0px;
          ////vertical-align: middle;
          ////margin-top: -2px;
          //padding-right: 5px;
          //padding-left: 5px;
          //border-left: 1px solid #fff;
        }
      }
    }
    .settings-wrap{
      float: right;
      margin-left: 10px;
      cursor: pointer;
      position: relative;
      .tooltip{
        white-space: nowrap;
        right: -109px;
        opacity: 0;
        visibility: hidden;
        transition: all .15s linear;
        .tooltip-arrow{
          left: 84.5% !important;
        }
      }
      .icon{
        display: inline-block;
        vertical-align: middle;
        color: $grayBorder;
        transition: color .12s linear;
      }
      &:hover{
        .icon{
          color: $base-color;
        }
      }
      &.tooltip-visible{
        .tooltip{
          opacity:1;
          visibility: visible;
        }
      }
    }
    .search-input{
      float: right;
    }
    .directory-header{
      float: left;
      position: relative;
      .total-items{
        display: inline-block;
        font-size: 13px;
        vertical-align: top;
        margin-top: -2px;
        background-color: $gray;
        height: 20px;
        line-height: 20px;
        border-radius: 6px;
        padding-left: 3px;
        padding-right: 3px;
        color:#fff;
      }

    }
  }
  .directory-header{
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    font-weight: 600;
  }
  .directory-table{
    thead{
      th{
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid $grayLight;
        text-align: left;
        &:first-of-type{
          text-align: left;
          //width: 50px;
        }
      }
    }
    tbody{
      tr{
        border-bottom: 1px solid $grayLight;
        &:last-of-type{
          border-bottom: none;
        }
      }
      td{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .status-td{
        text-align: left;
        padding-left: 20px;
        .status-mark{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          background-color: $greenBtn;
          &.non-active{
            background-color: $gray-border;
          }
        }
      }
      .responses{
        .neg{
          color: $redArrow;
        }
        .pos{
          color: $greenBtn;
        }
      }
      .logo-small{
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align:middle;
        margin-right: 10px;
      }
    }
    &.exchangers-table{
      thead{
        tr{
          th{
            cursor: pointer;
            &:nth-of-type(2){
              text-align: left;
              //padding-left: 7%;
            }
            &:nth-of-type(7){
              text-align: center;
            }
          }
        }
      }
      tbody{
        tr{
          td{
            text-align: left;
            &:nth-of-type(2){
              //padding-left: 7%;
              text-align: left;
            }
            &:nth-of-type(7){
              text-align: center;
            }
          }
        }
      }
    }

  }
}
.fixed-table-wrap{
  .container{

  }
  .table-wrapper{
    padding-left:30px;
    padding-right: 30px;
    background-color: #fff;

  }
  position: fixed;
  display:none;
  background-color:transparent;
  top: 59px;
  left: 0;
  right: 0;
  z-index: 1000;
  border-top: 1px solid $gray-border + 40%;
  table{
    width: 100%;
    table-layout: fixed;
    th{
      a{
        display: inline-block;
        color: $base-color!important;
      }
      font-weight: 400;
      border-bottom: 1px solid #f6f6f6;
    }
  }
  //width: 1120px;
  &:before{
    content:'' ;

  }
}
.directory-pagin{
  margin-top: 20px;
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  a{
   display: block;
  };
}
//calendar

.rdt{
  .rdtPicker{
    display: none;
  }
  &.rdtOpen{
    .rdtPicker{
      display: block;
    }
  }
  .rdtPicker{
    position: absolute;
    background-color: #fff;
    border: 1px solid $grayBorder;
    width: 320px;
    .rdtPrev{
      text-align: left;
      padding-left: 5px;
    }
    .rdtNext{
      text-align: right;
      padding-right: 5px;
    }
    .rdtSwitch{
      text-align: center;
    }
    .rdtYears, .rdtMonths{
      padding: 30px;
      padding-bottom: 20px;
      width: 100%;
      table{
        &:first-of-type{
          margin-left: -10px;
          margin-right: -10px;
          width: calc(100% + 20px);
        }
        margin: 0 auto;
        .rdtYear{
          text-align: center;
          padding-right: 10px;
          padding-left: 10px;
          cursor: pointer;
          transition: all .3s linear;
          &:hover{
            color: $greenBtn;
          }
        }
      }
    }
    .rdtMonths{
      table{
        &:last-of-type{
          td{
            text-align: center;
            transition: all .3s linear;
            cursor: pointer;
            &:hover{
              color: $greenBtn;
            }
          }
        }
      }
    }
    .rdtDays{
      width: 260px;
      margin:  0 auto;
      padding-bottom: 30px;
      table{
        thead{
          tr{
            &:first-of-type{
              border-bottom: none;
              th{
                border-bottom: none;
                padding-top: 19px;
                padding-bottom: 2px;
              }
            }
          }
          tr{
            .dow{
              text-transform: uppercase;
              font-size: 15px;
              font-weight: 500;
              padding-right: 0;
            }
            th{
              text-align: center;

            }
          }
        }
        tbody{
          tr{
            td{
              text-align: center;
              padding-top: 2px;
              padding-bottom: 2px;
            }
          }
        }
        tfoot{
          border:none
        }
      }
      .rdtDay{
        padding-right: 0;
        z-index: 1;
        position: relative;
        cursor: pointer;
        transition: color .3s linear;
        &.rdtOld,&.rdtNew{
          color: $grayBorder;
        }
        &:before{
          position: absolute;
          width: 29px;
          height: 29px;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          background-color: transparent;
          transition: all .3s linear;
          border-radius: 50%;
          content: '';
          z-index: -1;
        }
        &:hover{
          color: #fff;
          &:before{
            background-color: $greenBtn + 30%;

          }
        }
        &.rdtActive{
          position: relative;
          color: #fff;
          z-index: 1;
          &:before{
            position: absolute;
            width: 29px;
            height: 29px;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: $greenBtn;
            border-radius: 50%;
            content: '';
            z-index: -1;
          }
        }
      }
    }

  }

  .rdtTimeToggle{
    display: none;
  }
}
.daterangepicker{
  .in-range{
    background-color: $greenBtn;
  }
}
.favoriteExchangers{
  min-height: 1px!important;
  height: auto!important;
  .widget-header-count-block{
   border-bottom: none;
  }
  .card-content{
    min-height: 1px;
  }
}
.favorite-directions{
  min-height: 1px!important;
  height: auto!important;
  .card-content{
    min-height: 1px!important;
  }
}
.chart-card{
  min-height:247px!important;
}


.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}








/**
 * selectize.css (v0.12.4)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
  box-shadow: inset 0 0 12px 4px #ffffff;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
  color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #d0d0d0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff;
}
.selectize-control.plugin-remove_button .remove-single {
  position: absolute;
  right: 28px;
  top: 6px;
  font-size: 23px;
}
.selectize-control {
  position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block;
}
.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px;
}
.selectize-input.full {
  background-color: #ffffff;
}
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}
.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #f2f2f2;
  color: #303030;
  border: 0 solid #d0d0d0;
}
.selectize-control.multi .selectize-input > div.active {
  background: #e8e8e8;
  color: #303030;
  border: 0 solid #cacaca;
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff;
}
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.selectize-input > input::-ms-clear {
  display: none;
}
.selectize-input > input:focus {
  outline: none !important;
}
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #ffffff;
  cursor: default;
}
.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68;
}
.selectize-dropdown .active.create {
  color: #495c68;
}
.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  -webkit-overflow-scrolling: touch;
}
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent;
}
.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto;
}
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa;
}


//.option-wrapper{
//  //transform: translate3d(0,0,0);
//  width: 300px;
//  overflow: visible;
//  .simple-option{
//    overflow: visible!important;
//  }
//  .icon-star{
//    position: absolute!important;
//    right: -100px!important;
//    z-index: 2222;
//    opacity: 1!important;
//    visibility: visible!important;
//  }

//}
.cur-icon{
  //display: none!important;
}
.btn-floated{
  width: auto!important;
}
iframe{
  left: 30px!important;
  //opacity:.5!important;
  transition: opacity .15s linear;
  &:hover{
    //opacity:1!important;
  }
  &.absoluted{
    position: absolute!important;
    bottom: 230px!important;
  }
}
.tooltip-visible{
  .exTooltip{
    opacity: 1;
    visibility: visible;
  }
}
.notransition{
  transition: none!important;
}
.favorite-star{
  &.active{
    opacity: 1!important;
    visibility: visible!important;
  }
}
.widget-img{
  img{
    max-width:100%;

  }
}

.__react_component_tooltip{
  pointer-events: auto!important;
  background-color: transparent!important;
  padding: 0!important;
  font-size: inherit!important;
  color: inherit!important;
  //position: relative;
  &:before{
    display: none!important;
  }
  &:after{
    display: none!important;
  }
}
.daterangepicker{
  width: 520px;
  padding: 20px;
  margin-top: 0;
  .calendar{
    .daterangepicker_input{
      display: none;
    }
    .calendar-table{
      thead{
        th{
          text-align: center;
        }
        tr{
          border-bottom: none;
          th{
            border-bottom: none;
          }
        }
      }
      tbody{
        tr{
          td{
            text-align: center;
            cursor: pointer;
            padding: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            position: relative;
            &:before{
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              top:5px;
              bottom: 5px;
              background-color: transparent;
              transition: all .15s;
              z-index: -1;
            }
            &.active{
            }
            &.in-range{
              color: #fff;
              background-color: #fff;
              position: relative;
              z-index: 2;
              &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top:5px;
                bottom: 5px;
                background-color: #14B489;
                z-index: -1;
              }
            }
            &.start-date{
              color: #fff;
              position: relative;
              &:before{
                border-top-left-radius: 30%;
                border-bottom-left-radius: 30%;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top:5px;
                bottom: 5px;
                background-color: #14B489;
                z-index: -1;
              }
            }
            &.end-date{

              &:before{
                border-top-right-radius: 30%;
                border-bottom-right-radius: 30%;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top:5px;
                bottom: 5px;
                background-color: #14B489;
                z-index: -1;
              }
            }
          }
        }
      }
    }
    &.left{
      float: left;
      width: 230px;
    }
    &.right{
      float: right;
      width: 230px;
    }
  }
  .range_inputs{
    display: none;
  }
}
//data-table

.welcome-guide-wrap{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 22000002;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s linear;
  &.visible{
    opacity: 1;
    visibility: visible;
  }
  .backdrop{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 65, 86, 0.8);
  }
  .x-cont{
    position: absolute;
    z-index: 222222222;
    top: 10%;
    right: 10%;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
  }
  .slider{
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 22;
    .slick-list{
      @extend %clearfix;
      overflow: hidden;

      //overflow:hidden;
    }
    .slick-dots{
      //position: absolute;
      //top:50vh;
      position: static;
      transform: translateY(40px);
      li{
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 1px solid #fff;
        button{
          opacity: 0;
        }
        &.slick-active{
          background: #fff;
        }
      }
    }

    .slick-slide {
      float: left;
      transform-style: flat;
      opacity: 0;
      //height: 200px;
      text-align: center;
      transition: opacity .2s linear;
      &.slick-active{
        opacity: 1;
      }
      .slide-item-content-wrap {
        display: inline-block;
        overflow: hidden;
        img{
          width: 100%;
          position:relative;
          z-index: 22;
          background: transparent;
          transform: translate3d(0,0,0);
        }
        .slider-descr {
          display: block;
          color: #fff;
          font-size: 25px;
          margin-top: -220px;
          margin-bottom: 20px;
          p{
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .slick-prev{
    left: 0px!important;
    z-index: 999;
    width: 50px;
    height: 50px;
    &:before{
      content: "\61";
      font-size: 45px;
    }
  }
  .slick-next{
    right: 0!important;
    z-index: 999;
    width: 50px;
    height: 50px;
    &:before{
      content: "\62";
      font-size: 45px;
    }
  }

  .slick-dots li button:before, .slick-next:before, .slick-prev:before{
    font-family: 'shevron';
  }

}

.table-wrapp{
  display: block!important;
}









