/* Barebones Compass variables
 *
 * This file should be used to redefine values used by other files. Most basic
 * style tweaks can be done from this file
 *
 * Font stacks are defined within base/_font.scss
 */

/* Base typography settings
 */
$base-color: #314156;
$base-font-family: $font-sans-serif;
$base-font-size: 16px;
$base-font-style: normal;
$base-font-weight: normal;
$base-line-height: 1.5;

/* Base visual settings
 */
$base-background-color: #fff;

/* Base layout settings
 */
$base-margin: 20px;


$text-gray: #B6BFCA;

/* Sprite settings
 */
$sprite-layout-default: vertical;
$sprite-spacing-default: 1px;

/* Link settings
 */
$link-transitions: true;
$link-transition-duration: .15s;
$link-transition-function: linear;

$link-color: #177ee6;
$link-hover-color: #145889;
$link-active-color: #145889 - 20%;
$link-visited-color: #177ee6;

/* Button settings
 */
$button-transitions: true;
$button-transition-duration: .15s;
$button-transition-function: linear;

/* Layout settings
 */
$layout-container-width: 1170px;

/* Layout grid settings
 *
 * NOTE: grid container is usually placed inside .layout-container element. This
 * means the grid is limited by $layout-container-width. That is why the following
 * condition should be met:
 *
 *     $width:   $layout-grid-column-width;
 *     $columns: $layout-grid-columns;
 *     $spacing: $layout-grid-column-spacing;
 *
 *     $layout-container-width == ($width * $columns) + ($spacing * ($columns - 1))
 */
$layout-grid-columns:        12;
$layout-grid-column-width:   60px;
$layout-grid-column-spacing: 20px;

$layout-header-fixed: true;
$layout-header-height: 60px;


/* Sticky footer settings
 *
 * To use sticky footer, set the following value to true. Layout footer height
 * setting is required for the sticky footer to work
 *
 * Your layout markup should only have two elements within the body:
 * .layout-content and .layout-footer. All other elements should be within
 * .layout-content
 */
$layout-footer-sticky: true;
$layout-footer-height: 180px;

$layout-aside-width: 275px;
$layout-aside-margin-right: 10px;


$blue: #145889;
$blueLight:#2D7EB6;
$green:#198C3D;
$greenMiddle: #21A842;
$greenBtn:#14B489;
$red:#F90002;
$redArrow:#F97788;
$greenArrow:#14B489;
$violet: #84469A;
$gray:#9A9A9A;
$grayLight: #f6f6f6;
$grayMiddle:#E5E5E5;
$grayText: #3A495D;
$grayBg: #F0F2F5;
$grayDarkText: #314156;
$grayBorder:#B6BFCA;
$grayMenuHover:#DFE5ED;
$grayMenuActive:#C9D3DF;
$selectFill:rgba(225,229,235, 0.3);
$exchGreen: #1592B3;

$gray-border: rgba(182,191,202, 0.75);
$grayBorderLight: rgba(182,191,202, 0.25);

