@charset "UTF-8";

@font-face {
  font-family: "ratex-ui";
  src:url("fonts/ratex-ui.eot");
  src:url("fonts/ratex-ui.eot?#iefix") format("embedded-opentype"),
    url("fonts/ratex-ui.woff") format("woff"),
    url("fonts/ratex-ui.ttf") format("truetype"),
    url("fonts/ratex-ui.svg#ratex-ui") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ratex-ui" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ru-"]:before,
[class*=" ru-"]:before {
  font-family: "ratex-ui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ru-arrow:before {
  content: "\61";
}
.ru-btn:before {
  content: "\62";
}
.ru-burger-menu:before {
  content: "\63";
}
.ru-calendar:before {
  content: "\64";
}
.ru-favourite:before {
  content: "\65";
}
.ru-fb:before {
  content: "\66";
}
.ru-git-hub:before {
  content: "\67";
}
.ru-google:before {
  content: "\68";
}
.ru-graph:before {
  content: "\69";
}
.ru-green-arrow-logo:before {
  content: "\6a";
}
.ru-icon-search:before {
  content: "\6b";
}
.ru-logo:before {
  content: "\6c";
}
.ru-menu-close:before {
  content: "\6d";
}
.ru-menu-close-hover:before {
  content: "\6e";
}
.ru-menu-hover:before {
  content: "\6f";
}
.ru-paymaxi:before {
  content: "\70";
}
.ru-popel:before {
  content: "\71";
}
.ru-retry:before {
  content: "\72";
}
.ru-settings:before {
  content: "\73";
}
.ru-star-pressed:before {
  content: "\74";
}
.ru-switch-mode:before {
  content: "\75";
}
.ru-tour:before {
  content: "\76";
}
.ru-user:before {
  content: "\77";
}
.ru-web:before {
  content: "\78";
}
.ru-widget-close:before {
  content: "\79";
}
