@charset "UTF-8";

@font-face {
  font-family: "ratex-menu";
  src:url("fonts/ratex-menu.eot");
  src:url("fonts/ratex-menu.eot?#iefix") format("embedded-opentype"),
    url("fonts/ratex-menu.woff") format("woff"),
    url("fonts/ratex-menu.ttf") format("truetype"),
    url("fonts/ratex-menu.svg#ratex-menu") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ratex-menu" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="rm-"]:before,
[class*=" rm-"]:before {
  font-family: "ratex-menu" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rm-about:before {
  content: "\61";
}
.rm-cooperation:before {
  content: "\62";
}
.rm-currency-rate:before {
  content: "\63";
}
.rm-developers:before {
  content: "\64";
}
.rm-exchange-market:before {
  content: "\65";
}
.rm-exchangers:before {
  content: "\66";
}
.rm-info:before {
  content: "\67";
}
.rm-powered-by-paymaxi:before {
  content: "\68";
}
