
@media (max-width: 659px) {
  body .container{
    width: 320px;
  }
}


@media (min-width: 660px) {
  body .container{
    width: 610px;
  }

  .welcome-guide-wrap .slider .slick-slide .slide-item-content-wrap img {
    margin-bottom: 100px;
  }
}

@media (min-width: 960px) {
  body .container{
    width: 910px;
  }
  .layout-footer .left-block:after {
    right: 15px;
  }

  .welcome-guide-wrap .slider .slick-slide .slide-item-content-wrap img {
    margin-bottom: 60px;
  }
}

@media (max-width: 960px) {
  .layout-footer .container{
    .left-block{
      &:after{
        right: 15px;
      }
      .copyright{
        left:0;
        margin-bottom: 10px;
      }
    }
    .col-sm-2{
      margin-right: 10px;
      a .footer-link-i{
        white-space: nowrap;
        //line-height: 16px;
        //margin-bottom: 8px;
      }
    }
    .bottom-block{
      margin-top: 20px;
      .col-sm-2{
        margin-right: 0;
        .popel-logo{
          margin-left: -23px;
        }
      }
    }
    .fli-title{
      white-space: nowrap;
    }
    .right-block .social-link-w .social-link{
      text-align: center;
      display: block;
      margin: 0 0 5px;
    }
  }
}

@media (min-width: 1100px) {
  .welcome-guide-wrap .slider .slick-slide .slide-item-content-wrap img {
    margin-bottom: 20px;
  }
}


@media (min-width: 1260px) {
  body .container{
    width: 1210px;
  }
  .layout-footer{
    .left-block:after {
      right: 39px;
    }

    .col-sm-2{
      padding-left: 47px;
      &:last-of-type{
        padding-left: 2px;
      }
    }
  }
  
  .welcome-guide-wrap .slider .slick-slide .slide-item-content-wrap img {
    margin-bottom: 0;
  }
}

@media (min-width: 1560px) {
  body .container{
    width: 1510px;
  }

  .layout-footer .left-block:after {
    right: 90px;
  }
}

@media (min-width: 1860px) {
  body .container{
    width: 1810px;
  }
}