.dashboard-controls{
  height: 50px;
  margin-top: 15px;
  .add-widget{
    display: inline-block;
    cursor: pointer;
    [class^="icon-"]{
      margin-right: 13px;
    }
  }
  .right-side-controls{
    float: right;
    margin-right:50px;
    .dcontrol-item{
      display: inline-block;
      margin-left: 40px;
    }
  }
  .dcontrol-item{
    display: inline-block;
    margin-left: 0;
    cursor: pointer;
  }
  .icon-atom{
    vertical-align: middle;
    font-size: 24px;
  }
}

.from-to-icon{
  display: inline-block;
  width: 20%;
  text-align: center;
  line-height: 40px;
  height: 40px;
  font-size: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.table-dashboard{

  width: calc(100% + 40px);
  margin-left: -20px;
  tbody{
    tr{
      border: none;
      border-bottom: 1px solid $grayLight;
      text-align: center;
      &:last-of-type{
        border: none;
      }
      td{
        padding: 10px 15px;
        color: $gray;
        font-size: 14px;
        &:first-of-type{
          padding-left: 25px;
        }
        &.info-btn {
          padding-left:0 !important;
          cursor: pointer;
        }
      }
    }
  }
  .currency{
    text-transform: uppercase;
  }

  .comments-ratio{

  }
}
.red{
  color: $red;
  margin: 5px;
  font-size: 13px;
}
.green{
  color:$greenMiddle;
  margin:0 5px;
  font-size:13px;
}
.destination-block {
  margin-top: 0;
  .destination-item {
    display: inline-block;
    padding: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    color: $grayDarkText;
    border-bottom: 1px solid rgba(182,191,202,.3);
    .dest-from,
    .dest-to {
      display: inline-block;
      text-transform: uppercase;
      transition: color .15s linear;
      [class^='icon-'] {
        margin: 0 5px;
        font-size: 16px;
        vertical-align: middle;
      }
      &:hover {
        color: $grayDarkText +15%;
      }
    }

    .currency {
      margin: 0 5px;
    }
    .curruncy-icon {
      width: 10px;
      height: 10px;
    }
    .dest-from {
    }
    .dest-to {
    }
  }
}
.split-icon {
  margin: 0 5px;
  width: 20px;
  display: inline-block;
  height: 10px;
  background-image: url("../images/arrow-right.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.grid-sizer,
.grid-item { width: 360px;
min-width:360px !important;}


.market-container{

}

.dropdown-wrap{

}
.Dropdown-root{
  position: relative;
  display: inline-block;
  margin: 0 5px;
  .Dropdown-control{
    border-bottom:1px dashed #B6BFCA;
  }
  .Dropdown-menu{
    position: absolute;
    top:30px;
    left: 0;
    //padding: 10px;
    font-weight: normal;
    height: auto;
    background-color: #fff;
    border:1px solid #E1E5EB;
    z-index: 999;
    &:before{
      position: absolute;
      display: block;
      content:"";
      top: -7px;
      left: 50px;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      background-color: #fff;
      border-top:1px solid #E1E5EB;
      border-left:1px solid #E1E5EB;
    }
    .Dropdown-option{
      //margin: 5px 0;
      padding: 0 10px;
      font-size: 18px;
      cursor: pointer;
      &:hover{
        background-color: $grayLight;
      }
    }
  }
}
.exchange-dd{
  .Dropdown-root .Dropdown-menu{
    width: 220px;
  }
}

.dropdown-arrow{
  display: inline-block;
  margin-left: 4px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  position: relative;
    &:after{
      position: absolute;
      content: "";
      display: block;
      top:2px;
      width: 8px;
      height: 8px;
      right: 0;
      transform: rotate(45deg);
      border: 1px solid transparent;
      border-right:1px solid $gray;
      border-bottom:1px solid $gray;
      transition: all .25s linear;
    }
    &.open{
      &:after{
        top:9px;
        border: 1px solid transparent;
        border-left:1px solid $gray;
        border-top:1px solid $gray;
      }
    }
}

.highcharts-tooltip{
  text{
    color:#314156;
    font-family: 'Open Sans';
    tspan{
      &:first-of-type{
        position: relative;
        display: block;
        font-size: 16px;
        transform: translateY(-100px);
      }
      &:nth-of-type(2){
        //display: none;
        position: absolute;
        bottom: -20px;
      }
      //&:nth-of-type(3){
      //  display: none;
      //}
    }
  }
}



