.table-tabs{
  .tab-content{
    padding:0;
  }

  .nav-tabs{
    border:none;
    margin-bottom: 10px;
    margin-top: 0;
    & > li {
      margin-top: 0;
      & > a{
        border-radius: 0!important;
        color:$gray;
        border: none;
        background-color: transparent;
        &:hover{
          color:$blue;
        }
      }
    }
  }


  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus{
    border:none;
    border-bottom: 2px solid $blue;
    color:$blue;
    background-color: transparent!important;
  }
}

.nav-tabs{
  li{
    a{
      border-radius: 0!important;
      color: $grayBorder;
      outline: none;
    }
    &.active{
      a{
        color: $base-color;
        &:focus{
          color: $base-color;
        }
      }
    }
    &:focus{
      outline: none!important;
      a{
        color: $base-color;
      }
    }
  }
}

.nav-tabs > li > a:hover {
  background-color: transparent!important;
  color: $base-color;
}