@charset "UTF-8";

@font-face {
  font-family: "ratex-last";
  src:url("fonts/ratex-last.eot");
  src:url("fonts/ratex-last.eot?#iefix") format("embedded-opentype"),
    url("fonts/ratex-last.woff") format("woff"),
    url("fonts/ratex-last.ttf") format("truetype"),
    url("fonts/ratex-last.svg#ratex-last") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ratex-last" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ratex-last" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\61";
}
.icon-add-widget:before {
  content: "\62";
}
.icon-arrow-2:before {
  content: "\63";
}
.icon-arrow-exhange:before {
  content: "\64";
}
.icon-arrow-popular:before {
  content: "\65";
}
.icon-arrowupdown:before {
  content: "\66";
}
.icon-arrowupdown-1:before {
  content: "\67";
}
.icon-burger-menu:before {
  content: "\68";
}
.icon-courses:before {
  content: "\69";
}
.icon-dashboard:before {
  content: "\6a";
}
.icon-diagram:before {
  content: "\6b";
}
.icon-dyrectory:before {
  content: "\6c";
}
.icon-exchange-icon:before {
  content: "\6d";
}
.icon-exchange-menu:before {
  content: "\6e";
}
.icon-expand:before {
  content: "\6f";
}
.icon-facebook:before {
  content: "\70";
}
.icon-github:before {
  content: "\71";
}
.icon-help:before {
  content: "\72";
}
.icon-info:before {
  content: "\73";
}
.icon-like-dislike:before {
  content: "\74";
}
.icon-like-liner:before {
  content: "\75";
}
.icon-location-pin:before {
  content: "\76";
}
.icon-partners:before {
  content: "\77";
}
.icon-right-up:before {
  content: "\78";
}
.icon-search:before {
  content: "\79";
}
.icon-services:before {
  content: "\7a";
}
.icon-settings:before {
  content: "\41";
}
.icon-switch:before {
  content: "\42";
}
.icon-twitter:before {
  content: "\43";
}
.icon-update:before {
  content: "\44";
}
.icon-useful-info:before {
  content: "\45";
}
.icon-useful-information:before {
  content: "\46";
}
.icon-user:before {
  content: "\47";
}
.icon-user-01:before {
  content: "\48";
}
.icon-user-top:before {
  content: "\49";
}
.icon-vkontakte:before {
  content: "\4a";
}
.icon-atom:before {
  content: "\4b";
}
.icon-logo-gray:before {
  content: "\4c";
}
