/* Barebones Compass form styles
 *
 * Form button styles
 */

.btn {
    letter-spacing: 1px;
    text-align: center;

    background-image: none;

    margin: 0;
    outline: 0;
    border: 0;
    padding: 0 20px;
    line-height: 40px;
    cursor: pointer;

    display: inline-block;
    vertical-align: middle;

    user-select: none;

    @include button-basic(
        $bg:        #333, $color:        #fff,
        $bg-hover:  #777, $color-hover:  #fff,
        $bg-active: #000, $color-active: #fff
    );
}

.btn-primary {
    @include button-basic(
        $bg:        #14B489, $color:        #fff,
        $bg-hover:  #14B489 + 15%, $color-hover:  #fff,
        $bg-active: #14B489 - 15%, $color-active: #fff
    );
}

.btn-block {
    display: block;
    width: 100%;

    & + & {
        margin-top: $base-margin / 2;
    }
}

.btn-transparent {
    border: 1px solid #000;
    background: transparent;
    outline: 0;
    text-decoration: none;
    color: #000;
}

.btn-disabled {
    background: #ccc;
    outline: 0;
    text-decoration: none;

    &:hover,
    &:active{
        background: #ccc;
    }
}
.btn-exchange{
    display: block;
    height: 40px;
    width: 100%;
    [class^='icon-']{
        font-size:23px;
        margin-left: 30px;
        vertical-align: middle;
    }
}

.btn-add-widget{
    @include button-basic(
            $bg:        #14B489, $color:        #fff,
            $bg-hover:  #14B489 + 15%, $color-hover:  #fff,
            $bg-active: #14B489 - 15%, $color-active: #fff
    );
    display: block;
    position: fixed;
    right: 50px;
    bottom: 80px;
    width: 56px!important;
    height: 56px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 56px;
    box-shadow: 0 4px 15px 0 rgba(31,37,52,.3);
    z-index: 285;
    transition: box-shadow .15s linear;
    &:active{
        box-shadow: none;
    }
    &.open{
     display: none;
    }
}