/* Barebones Compass form styles
 *
 * Form field styles
 */

/*
 * Local variables for form elements
 */

$label-color: #555;


/*
 * Styles starts here
 */

.form-group {
    margin-bottom: $base-margin;
    @extend %clearfix;
    vertical-align: top;
}

label {
    margin-bottom: $base-margin / 4;

    display: inline-block;
}

.form-control {
    margin: 0;
    outline: 0;
    border: 1px solid #d7d7d7;
    padding: 4px 9px;

    transition: border-color .15s linear;

    display: block;
    width: 100%;
    height: 30px;


    &:focus {
        border-color: #177ee6;
    }

    &::placeholder {
        color: $gray;
    }
}

select.form-control {
    // Compensate for default select text paddings
    padding-left: 4px;
    padding-right: 4px;
}

textarea.form-control {
    height: auto;
    min-width: 100%;
    min-height: 100px;
}

/*
 * Standart input elements
 */

// .radio,
// .checkbox {
//     margin: ($base-margin / 2) 0;
//     padding-left: 20px;

//     display: block;

//     label {
//         display: inline;
//     }
// }

// .radio input[type="radio"],
// .checkbox input[type="checkbox"] {
//     margin-left: -20px;

//     float: left;
// }


/*
 * Custom input elements
 */

//input[type="radio"],
//input[type="checkbox"],
//input[type="file"] {
//    display: none;
//}
input[type="checkbox"]{
    display: none;
}
input[type="text"]{
    &::placeholder {
        color: $gray;
    }
}
/*
 * Custom radio button
 */

.radio-label {
    padding-left: 25px;
    color: $label-color;
    display: inline-block;
    width: auto;
    &:before {
        content: "";
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        margin: -5px 10px 0 -25px;
        border-radius: 50%;
        border: 2px solid transparent;
        box-shadow: 0px 0 0px 2px #ccc, 0 0 0 7px transparent inset;
        transition: box-shadow .15s linear;
    }
    &:hover {
        &:before {
            box-shadow: 0px 0 0px 2px #61BD7E, 0 0 0 7px transparent inset;
        }
    }
}

input[type="radio"]:checked + label:before {
    border-color: transparent;
    box-shadow: 0px 0 0px 2px #ccc, 0 0 0 7px #61BD7E inset;
}

input[type="radio"]:checked:hover + label:before {
    border-color: transparent;
    box-shadow: 0px 0 0px 2px #61BD7E, 0 0 0 7px #61BD7E inset;
}

/*
 * Custom checkbox
 */

.checkbox-label {
    padding-left: 25px;
    color: $base-color;
    display: inline-block;
    width: auto;
    &:before {
        content: "";
        font-family: 'ratex-ui';
        width: 18px;
        height: 18px;
        padding-left: 1px;
        display: inline-block;
        vertical-align: middle;
        margin: -5px 10px 0 -25px;
        border: 2px solid $grayBorder;
        transition: border .15s linear;
    }
    &:hover {
        &:before {
            border-color: $base-color;
        }
    }
}

//input[type="checkbox"]:checked + .checkbox-label:before {
//    content: "\2713";
//    border-color: transparent;
//    font-size: 20px;
//    line-height: 16px;
//    color: #61BD7E;
//}
//
//input[type="checkbox"]:checked:hover + .checkbox-label:before {
//    content: "\2713";
//    background-color: #eee;
//    border-radius: 50%;
//    color: #61BD7E;
//}

[type="checkbox"]:checked + .checkbox-label:before {
    content: "\41";
    border-color: transparent;
    font-size: 13px;
    background-color: $base-color;

    line-height: 16px;
    color: #fff;
    transition: background-color .15s linear;
}

[type="checkbox"]:checked + .checkbox-label:hover:before {
    content: "\41";
    background-color: $base-color;
    border-radius: 0;
    color: #fff;
}
/*
 * Toggle
 */

.toggle-label {
    padding-left: 25px;
    color: $label-color;
    display: inline-block;
    width: auto;
    position: relative;
    cursor: pointer;
    &:before {
        content: "";
        width: 25px;
        height: 1px;
        display: inline-block;
        vertical-align: middle;
        margin: -3px 10px 0 -25px;
        background: #ccc;
        transition: all .15s linear;
    }
    &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background: #fff;
        top: 5px;
        left: 0;
        border: 1px solid #ccc;
        transition: border-color .15s linear, left .1s linear;
    }
}

input[type="checkbox"]:checked + .toggle-label {
    &:before {
        background: #61BD7E;
    }
    &:after {
        border-color: #61BD7E;
        left: 13px;
    }
}

.half-form{
    display: block;
    vertical-align: top;
    width: 40%;
    &.left{
        float:left;
    }
    &.right{
        float: right;
    }
}

.widget-input-big{
    height: 40px;
    border: 1px solid #C1C2C4;
    padding: 0 10px;
    color:#000;
    outline: none;
    &:hover{
        border-color: $gray + 15%;
    }
    &:focus{
        border-color:$gray - 20%;
    }
}
.selectize{
    height: 40px;
    background-color: $grayLight;
    border-radius:0;

    outline: none;
    border: 1px solid $grayLight;
    line-height: 40px;
    vertical-align: middle;
}
.selectLeft + div,
.selectRight + div{
    display: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}