.calculator-pro-widget {
  min-height: 616px !important;
  .direction-wrap {
    @extend %clearfix;
  }
  .direction-block {
    float: left;
  }
  .calendar-block {
    float:    right;
    position: relative;
  }
  .calendar-text {
    display: inline-block;
    .date-descr {
      color:        $grayBorder;
      margin-right: 10px;
    }
    .date-value {
      margin-right:  10px;
      display:       inline-block;
      border-bottom: 1px dotted $grayBorder;
    }
  }
  .calendar-trigger {
    font-size: 20px;
    cursor:    pointer;
    &:before {
      display:        inline-block;
      vertical-align: middle;
      margin-top:     -2px;
      color:          $grayBorder - 30%;
    }
  }
  .dropdown {
    opacity:    0;
    visibility: hidden;
    transition: all .3s linear;
    right:      -30px;
    top:        120%;
    left:       auto;
    position:   absolute;
    box-shadow: 3px 3px 11px 0.1px rgba(0, 0, 0, 0.1);
    .tooltip-arrow {
      display:           block;
      width:             8px;
      height:            8px;
      position:          absolute;
      top:               -4px;
      right:             35px;
      -webkit-transform: rotate(45deg);
      -ms-transform:     rotate(45deg);
      transform:         rotate(45deg);
      background-color:  #fff;
      border:            1px solid #b6bfca;
      border-bottom:     none;
      border-right:      none;
    }
    .rdtPicker {
      position: static;
    }
    &.visible {
      opacity:    1;
      visibility: visible;
    }
  }
}

.chart-td {
  position:   relative;
  text-align: right;
  cursor:     pointer;
  .ru-graph {
    color:      $grayBorder;
    transition: color .3s linear;
  }
  .chartTooltip {
    position:         absolute;
    min-width:        360px;
    width:            auto;
    top:              50%;
    min-height:       152px;
    z-index:          99;
    padding-bottom:   0;
    padding-top:      10px;
    padding-right:    20px;
    background-color: #fff;
    box-shadow:       0 0 10px 2px rgba(0, 0, 0, .1);
    opacity:          0;
    visibility:       hidden;
    pointer-events:   none;
    transition:       none;
    border:           1px solid $grayBorder;
  }

  &.tooltip-visible {
    .chartTooltip {
      visibility:     visible;
      opacity:        1;
      pointer-events: auto;
      &.left {
        right: 35px;
        top:   0;
        .chartTooltipWrap {
          &:before {
            display:          block;
            content:          '';
            left:             auto;
            right:            -4px;
            transform:        rotate(-45deg);
            position:         absolute;
            width:            8px;
            top:              15px;
            height:           8px;
            background-color: #fff;
            border:           1px solid $grayBorder;
            border-left:      none;
            border-top:       none;
          }
        }
      }
      &.right {
        left: 100%;
        top:  0;
        .chartTooltipWrap {
          &:before {
            display:          block;
            content:          '';
            left:             -4px;
            top:              15px;
            transform:        rotate(-45deg);
            position:         absolute;
            width:            8px;
            height:           8px;
            background-color: #fff;
            border:           1px solid $grayBorder;
            border-right:     none;
            border-bottom:    none;
          }
        }
      }
    }
  }
  &:hover {
    .ru-graph {
      color: $base-color;
    }
  }
}

.card {
  tr {
    td {
      .delta {
        display:    block;
        font-size:  11px;
        min-height: 7px;
        text-align: center;
        &.positive {
          color: #14b489;
        }
        &.negative {
          color: #fd7788;
        }
      }
    }
  }
}

.rate-table {
  thead {
    font-size: 12px;
    color:     #b6bfca;
    th {
      border-bottom:  none;
      text-align:     right;
      padding-top:    5px;
      padding-bottom: 5px;
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

.card {
  .rates-table-default {
    thead {
      font-size: 12px;
      color:     #b6bfca;
      th {
        border-bottom:  none;
        text-align:     right;
        padding-top:    5px;
        padding-bottom: 0px;
      }
    }
    tbody {
      tr {
        td {
          text-align:     right;
          border-bottom:  1px solid #d4dde8;
          padding-bottom: 4px;
          &:first-of-type {
            text-align: left;
          }
        }
        &:last-of-type {
          td {
            border-bottom: none;
          }
        }
      }
    }
    .delta {
      text-align: right;
    }
  }
}

.fast-exchange{
  .btn-floated{
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .exTooltip{
    span{
      font-weight: 400!important;
    }
    .name{
      color: $base-color;
    }
  }
  td {
    .exTooltip{
      &.right{
        left: 110%;
        top:-24px;
      }
      span{
        font-weight: 400!important;
      }
      .name{
        color: $base-color;
      }
    }
  }
}
