/* Barebones Compass layout styles
 *
 * Aside styles
 */

.layout-aside {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    opacity: 0;
    visibility: hidden;
  pointer-events: none;
    padding: 70px 0 20px;
	background-color: rgba(49, 65, 86, .8);
	z-index: 290;
    overflow-y: scroll;
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
     will-change: opacity;
    transition: all .1s ease-in;
   &.notransition{
     transition: none!important;
     opacity:1;
     display: none;
     &.open{
        display: flex;
     }
   }
    &.open{
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .background{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 2;
    }
    .aside-container{
      position: relative;
      z-index: 3;
    }
	nav{
        display: flex;
        justify-content:space-around;
        flex-flow: row wrap;
        margin: 0 auto;
        //margin-top: -50px;
        max-width: 1129px;
        .nav-wrap{
          text-align: center;
          margin-bottom: 20px;
        }
        .aside-nav-item{
          display: block;
          vertical-align: middle;
          height: 200px;
          width: 260px;
          background-color: #fff;
          margin: auto;
          margin-bottom: 20px;
          cursor: pointer;
          transition: all .15s linear;
          &:hover{
            background-color: $grayMenuHover;
            box-shadow: 0 1px 6px 0 rgba(0,0,0,.6);

            &.copyright-item{background-color: #314156 +15%;}
            &.green{background-color: #14B489 +15%;}
          }
          &:active{
            background-color: $grayMenuActive;
            box-shadow:none;
            &.copyright-item{background-color: #314156 -15%;}
            &.green{background-color: #14B489 -15%;}
          }
          &.green{
            background-color: #14B489;
            a{
              .aside-link-text, .icon{
                color: #fff;
              }
            }
          }
          &.copyright-item{
            background-color: #314156;
            a{
              .aside-link-text, .icon{
                color: #fff;
              }
            }
          }

          &.in-developing{
            background-color: #DFE5ED;
            pointer-events: none;
            position: relative;
            .in-dev-block{
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              text-align: center;
              background-color: #B6BFCA;
              padding: 8px 14px;
              color:#fff;
              z-index: 10;
            }
            .backdrop{
              background-color: #B6BFCA;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              opacity: .5;
            }
          }
             a{
               color:$grayText;
               display: block;
               font-size:16px;
               height: 100%;
               vertical-align: top;
               text-align: center;
               padding-top: 50px;
               transition: color .15s linear;
               .aside-link-text{
                 display: block;
                 text-align: center;
                 vertical-align: middle;
               }
               .icon{
                 vertical-align: middle;
                 display: block;
                 font-size: 57px;
                 text-align: center;
               }
             }

        }
      &.hidden{
        display: none;
      }
      &.directory{

      }

    }

  .btn-green{
    display: block;
    width: 280px;
    margin: 20px auto 40px;
    a{
      color:#fff;
    }

  }
  .copyright-item{
    color:#fff;
    font-size: 12px;
    text-align: center;
    a{
      color:#fff;
    }
  }
}


.search-input-wrap{
  display:none;
  position: relative;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 280px;
  .icon-search{
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 0;
    width: 30px;
    height: 40px;
    z-index: 999;
    opacity: .8;
    cursor: pointer;
    color:#fff;
    transition: all .15s linear;
  }
}
.searchInput{
  width: 100%;
  border:none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  padding: 8px 0;
  outline: none;
  padding-left: 40px;
  color:#fff;
  opacity: .8;
  transition: all .15s linear;

  &:hover{
    opacity: 1;
    & + .searchInput {
      opacity: 1;
    }
  }
  &:focus{
    overflow: none;
    opacity: .6;
    & + .searchInput {
      opacity: 1;
    }
  }
}


.add-widget-menu{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding-top:0;
    top:0;
    left: 0;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(49, 65, 86, .8);
    z-index: 600;
    overflow-y: scroll;
    transition: all .3s ease-in;
    &.open{
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      z-index: 505;
    }
  .container{
    //width: 1210px!important;
    position: relative;
    z-index: 222;
  }
  .add-widget-header{
    font-size: 24px;
    line-height: 70px;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    .close-add-widget-btn{
      float: right;
      font-size: 45px;
      cursor: pointer;
    }
  }
  .background{
    z-index: 1;
  }
  .modal-menu-w{
    display: block;
    position: relative;
    justify-content:space-between;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 100%;
    height: 85vh;
    background-color: #fff;
    padding: 40px 30px;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    .add-widget-i{
      display: block;
      width: 180px;
      height: 150px;
      vertical-align: middle;
      background-color: #fff;
      color:$base-color;
      margin: auto;
      margin-bottom: 20px;
      cursor: pointer;
      transition: all .15s linear;
      .aside-link-text{
        display: block;
        text-align: center;
        vertical-align: middle;
      }
      .icon{
        vertical-align: middle;
        display: block;
        font-size: 70px;
        text-align: center;
      }
      &:hover{
        background-color: $grayDarkText;
        color:#fff;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,.6);
        a{
          color:#fff;
        }
      }
      &:active{
        background-color: $grayDarkText;
        color:#fff;
        box-shadow:none;
      }
      &.chosen{
        background-color: $greenBtn;
        color:#fff;
        &:hover{
          box-shadow:none;
        }
      }
    }
    .add-w-left{
      height: calc( 100% - 80px ) ;
      width: 250px;
      padding-right: 19px;
      border-right:.5px solid #B6BFCA + 50%;
      float: left;
      margin-top: 40px;
      .search-input{
        width: 100%;
        margin-bottom: 0;
        padding-top: 0;
        position: relative;
        input{
          width: 208px;
          padding-left: 20px;
          border-top:transparent;
          border-left: transparent;
          border-right: transparent;
          border-bottom: 1px solid $grayBorder;
          position: relative;
          padding-bottom: 5px;
          &::placeholder{
            color: transparent;
          }
          &:focus{
            outline: none;
          }
        }
        .searchInput{
          position: static;
          width: 100%;
          max-width: 100%;
          border-bottom: 1px solid $grayBorder;
          box-sizing: border-box;
        }
        .icon-search{
          color: $grayBorder;
        }
        &:before{
          font-family: 'ratex-ui';
          content: "\6b";
          display: block;
          position: absolute;
          left: 0;
          top: 3px;
          z-index: 111;
          color: $grayBorder;
          font-size: 15px;

        }
      }
      .categories{
        h3{
          font-size:16px;
          margin-bottom: 16px;
        }
        ul{
          padding-left: 0;
          margin-top: 16px;
          li{
            list-style: none;
            padding-left: 0;
            margin: 16px 0;
            color: #B6BFCA;
            cursor: pointer;
            .num-avaliable{
              float: right;
              background-color: #B6BFCA;
              padding:0 10px;
              border-radius: 11px;
              color: #fff;
            }
            &.active{
              color: inherit;
            }
          }
        }
      }
    }
    .add-w-right{
      margin-left: 14px;
      float: left;
      height: 100%;
      overflow-y: scroll;
      width: calc(100% - 264px);
      margin-top: 0;
      padding-top: 38px;
      .widget-selection{
        @extend %clearfix;
        min-height: 183px;
        position: relative;
        margin-right: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $grayBorder + 50%;
        &:last-of-type{
          border-bottom:none;
        }
        .widget-img{
          float: left;
          width: 190px;
        }
        .widget-descr{
          float: left;
          margin-left: 14px;
          color: #314156;
          .name{
            font-weight: 600;
            line-height:30px;
          }
          .title{
            color: #B6BFCA;
            line-height: 20px;
            margin-bottom: 13px;
          }
        }
        .add-widget-action{
          float: right;
          .counter{
            display: block;
            float: left;
            height: 31px;
            line-height: 31px;
            background-color: #314156;
            color: #fff;
            min-width: 25px;
            text-align: center;
          }
        }
        strong{
          display: inline;
          background-color: yellow!important;
          font-weight: inherit!important;
        }
        .add-widget-action{
          position: absolute;
          right: 0px;
          top:0;
          .btn{
            background-color: $greenBtn;
            line-height:31px;
            padding:0 10px;
            font-weight: 400;
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 1260px){
  .aside-container{
    width: 960px!important;

    nav{
      width: 100%;
      .aside-nav-item{
        &#rates-menu{
          order:1;
        }
        &#exchangers-menu{
          order:2;
        }
        &#market-menu{
          order: 3;
        }
        &#about-menu{
          order: 4;
        }
        &#directory-menu{
          order: 5;
        }
        &#partnership-menu{
          order:6;
        }
        &#for-developers-menu{
          order:7;
        }
        &#powered-by-menu{
          order: 8;
        }
      }
    }
  }
}
@media (max-width: 1260px) {
  .add-w-right{
    width: 586px!important;
    .add-widget-action{
      position: static!important;
      margin-top: 20px!important;
    }
    .widget-descr{
      width: 62% !important;
    }
  }
}
@media (max-width: 960px){

  .aside-container{
    width: 100%!important;
    .aside-nav-item{
      &#rates-menu{
        order:1;
      }
      &#exchangers-menu{
        order:2;
      }
      &#market-menu{
        order: 3;
      }
      &#about-menu{
        order: 4;
      }
      &#directory-menu{
        order: 5;
      }
      &#partnership-menu{
        order:6;
      }
      &#for-developers-menu{
        order:7;
      }
      &#powered-by-menu{
        order: 8;
      }
    }
    nav{
      width: 100%;
    }
  }
}

.back-from-directory{
  .ru-arrow{
    transform: rotate(180deg) translateY(10px);

  }
}