/* Barebones Compass layout styles
 *
 * Content styles
 */

.layout-content {
    @if ($layout-header-fixed != false) {
        padding-top: $layout-header-height + 20px;
    }
}

.layout-aside + .layout-content {
    margin-left: $layout-aside-width + $layout-aside-margin-right;
}
#app .content{
	margin-top: 0;
}
.content{
	margin-top: 0;
	padding-top: $layout-header-height + 20px;
	box-shadow: 0 4px 15px 0 rgba(31,37,52,.1);
	margin-bottom: 180px;
	min-height: 100vh;
	.container{
		margin: 0 auto;
		padding: 0;
		//padding-left: 325px;
		//padding-left: 25px;
		//width: 100%;
	}
}