/* Barebones Compass layout styles
 *
 * Footer styles
 */

.layout-footer {
    background-color: #E6EAF0;
    height: $layout-footer-height;
}

$layout-footer-sticky: false !default;

@if ($layout-footer-sticky != false and $layout-footer-height > 0) {
    html,
    body {
        height: 100%;
    }

    .layout-content {
        clear: both;
        min-height: 100%;
        height: 100%;
        margin-bottom: 0;
    }

    .layout-content:after {
        content: "";
        display: block;
        height: $layout-footer-height;
    }

    .layout-footer {
        clear: both;
        position: relative;
    }
}

.layout-footer{
    color:$grayDarkText;
    font-size: 12px;
    padding-top: 28px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    a{
        color:$grayDarkText;
        &:hover{
            color:#5B7391;
        }
        &:active{
            color:#121E2D;
        }
        &.disabled{
            color: $gray;
            pointer-events: none;
            cursor: default;
        }
    }
    .left-block{
        position: relative;
        &:after{
            display: block;
            position: absolute;
            content: "";
            top: 5px;
            width: 1px;
            height: 60px;
            background-color: #B6BFCA;
        }
        .copyright{
            height: 100%;
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-right: 23px;
            font-size: 13px;
            left:-5px;
        }
        .languages-b{
            display: inline-block;
            cursor: pointer;
            vertical-align: top;
            margin-top: -2px;
            div{
                line-height: 24px;
                &.active{
                    font-weight: bold;
                }
            }
        }
    }
    .right-block{
        .social-link-w{
            display: block;
            margin-top: 5px;
            .social-link{
                display: inline-block;
                width: 30px;
                height: 20px;
                color:#E6EAF0;
                background-color: #556275;
                margin-right: 5px;
                vertical-align: top;
                line-height: 20px;
                text-align: center;
                padding-top: 2px;
                transition:background-color .15s linear;
                &:hover{
                    background-color: #667383;
                }
                &:active{
                    background-color: #314156;
                }
                .icon-github{
                    font-size: 17px;
                }
                .icon-twitter{
                    font-size: 16px;
                }
            }
        }
    }
    .fli-title{
        margin-bottom: 4px;
    }
    .footer-link-i{
        line-height: 25px;
    }
    .bottom-block{
        display: block;
        margin-top: 10px;
        .paymaxi-logo{
            margin-left: -4px;
            cursor: pointer;
            a{
                &:hover{
                    [class^="icon"]{
                        opacity: .6!important;
                    }
                }

            }
            [class^="icon"]{
                display: inline-block;
                width: 20px;
                height: 22px;
                margin-top: -2px;
                vertical-align: middle;
                background-image: url('../images/paymaxi-footer.svg');
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: .8;
                transition: opacity .15s linear;
                &:hover{
                    opacity:.6;
                    color: inherit;
                }
                &:active{
                    opacity: 1;
                }
            }
        }
        .popel-logo{
            cursor: pointer;
            [class^="icon"]{
                display: inline-block;
                width: 12px;
                height: 17px;
                margin-top: -4px;
                vertical-align: middle;
                opacity: .8;
                transition: opacity .15s linear;
                background-image: url('../images/popel-logo.svg');
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                &:hover{
                    opacity:.6;
                }
                &:active{
                    opacity: 1;
                }
            }
        }
    }
}