/* Barebones Compass layout styles
 *
 * Header styles
 */
$layout-header-fixed: true !default;

.layout-header {
    @if ($layout-header-fixed != false and $layout-header-height > 0) {
        height: $layout-header-height;
        position: fixed;
        padding-top: 12px;
        transform: translate3d(0,0,0);
        top: 0;
        left: 0;
        right: 0;
    	z-index: 500;
        background-color: transparent;
        //transition:all .15s linear;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    } @else if ($layout-header-height > 0) {
        height: $layout-header-height;
    }
    &.scrolled{
        background-color: #fff;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
        .main-logo{

            //background-image: url('../images/logo-gray.svg');

        }
    }
    &.open{
        background-color: transparent;
        box-shadow: none;
        .main-logo{
            //background-image: url('../images/logo-white.svg');
            color:#fff;
            &:hover{
                color:#fff;
                opacity: .8;
            }
            &:active{
                color:#fff;
                opacity: 0.6;
            }
        }
        .left-block .burger .burger-icon{
            background-color: transparent;
            transition: background-color 0s 0s linear;
            &:after,
            &:before{
                display: block;
                position: absolute;
                content: "";
                background-color: #fff;
                transition: transform .05s linear;
            }
            &:after{
                transform: rotateZ(-45deg);
                transform-origin: 0 0;
                bottom:-10px;
            }
            &:before{
                transform: rotateZ(45deg);
                transform-origin: 0 100%;
                top:-11px;
            }
        }
        .profile-btn{
                color:#fff;
        }
    }
    //.container{
    //    margin-left: auto;
    //    width: 100%;
    //    padding: 0 40px;
    //}
    .main-logo{
        display: inline-block;
        width: auto;
        margin-left: 130px;
        margin-top: 3px;
        font-size: 150px;
        height: 40px;
        position: relative;
        line-height: 40px;
        color:#314156;
        .ru-tour{
            display: inline-block;
            font-size: 16px!important;
            position: absolute;
            left: 120%;
            top: -2px;
            color: $grayBorder;
            transition: all .3s linear;
            &:hover{
                color: $base-color;
            }
        }
        //transition: all .15s linear;
        img{
            position: absolute;
            top:0;
            right: -14px;
        }
        &:hover{
            color:#202C3D;
        }
        .icon-logo-gray{
            &:before{
                line-height: 30px;
                height: 30px;
            }
        }
    }
    nav{
        display:block;
        text-align: center;
        position: relative;
        .nav-item{
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            overflow: hidden;
            &.logo-block{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin-left: -100px;
            }
             a{
                 color:#000;
                 margin-right: 30px;
                 font-size:15px;
                 &:hover{
                     color:#000+15%;
                 }
             }

        }
    }
    .profile-btn{
        display: none;
        position: absolute;
        top: 10px;
        right: 50px;
        width: 30px;
        height: 30px;
        font-size: 27px;
        color:#475C78;
        cursor: pointer;
        margin-top: 3px;
        .icon-user-top{
            opacity:.8;
            transition: opacity .15s linear;
        }
        &:hover{
            .icon-user-top{
                opacity:1;
            }
            opacity: 1;
        }
        &:active{
            .icon-user-top{
                opacity:.6;
            }
        }
        .notification-num{
            display: block;
            position: absolute;
            top: -3px;
            right: -8px;
            font-size: 12px;
            color: #fff;
            border-radius: 50%;
            line-height: 14px;
            text-align: center;
            padding: 1px 5px;
            background-color: #FD7788;
            width: auto;
            height: 16px;
            font-weight: bold;
        }
    }
    .registration-btn{
        float: right;
        margin:0 20px;
    }

    .left-block{
        float:left;
        margin-left: 0;
        .burger{
            position: relative;
            width: 30px;
            height: 30px;
            cursor: pointer;
            padding-top: 18px;
            z-index: 99999;
            .burger-icon{
                position: relative;
                width: 30px;
                height: 2px;
                background-color: #000;
                transition: all .05s linear;
                &:before{
                    display: block;
                    content: '';
                    position: absolute;
                    top: -9px;
                    left: 0;
                    width: 30px;
                    height: 2px;
                    background-color: #000;
                    transform-origin: 0 100%;
                    transition: all .05s linear;
                }
                &:after{
                    position: absolute;
                    bottom: -9px;
                    content: '';
                    left: 0;
                    width: 30px;
                    height: 2px;
                    background-color: #000;
                    transform-origin: 0 0;
                    transition: all .05s linear;
                }
            }
        }
    }
    .settings-wrap{
        position: relative;
        right: 0;
        float: right;
        margin-top: -30px;
        top:11px;
        cursor: pointer;
        opacity: .35;
        transition: opacity .15s linear;
        &:hover{
            opacity: 1;
        }
    }
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
    top: -20px;
}

.c-hamburger span::after {
    bottom: -20px;
}

.c-hamburger--htx {
    background-color: #ff3264;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}


.burger.open {
    /* active state, i.e. menu open */
    .c-hamburger--htx {
        background-color: #cb0032;
    }

    .c-hamburger--htx span {
        background: none;
    }

    .c-hamburger--htx span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .c-hamburger--htx span::after {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .c-hamburger--htx span::before,
    .c-hamburger--htx span::after {
        transition-delay: 0s, 0.3s;
    }
}
