.settings-modal{
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(49, 65, 86, 0.8);
  transition: opacity .15s linear;
  z-index: 99999;
  .modal-cont{
    position: absolute;
    width: 520px;
    top:50%;
    background-color: #fff;
    padding: 38px;
    padding-top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    .modal-header{
      font-size: 23px;
      letter-spacing: 1px;
      margin-bottom: 15px;
      position: relative;
      .x-cont{
        position: absolute;
        cursor: pointer;
        right: -76px;
        top: -28px;
        color: #fff;
        font-size: 25px;
      }
    }
    .modal-content{
      margin-top: 20px;
    }
    .form-group{
      line-height: 40px;
      margin-bottom: 10px;
      .react-selectize{
        float: right;
        width: 182px;
        .react-selectize-control{
          background-color: #fff!important;
          background-image: none!important;
          border-left:none!important;
          border-right:none!important;
          border-top:none!important;
          border-bottom:1pms olid $grayBorder;
          border-radius: 0;
          .react-selectize-placeholder{
            text-indent: 0!important;
          }
          .react-selectize-search-field-and-selected-values{
            padding-left: 0!important;
            border-bottom:none!important;
            &:before{
              display: none;
            }
          }
        }
        .react-selectize-reset-button-container{
          display: none;
        }
      }
    }
    .btns-block{
      margin-top: 30px;
      .btn{
        width: 49%;
        font-size: 15px;
        &.btn-gray{
          background-color: $grayBorder;
        }
        &:first-of-type{
          float: left;
        }
        &:last-of-type{
          float: right;
        }
      }
    }

  }
  &.visible{
    visibility: visible;
    opacity: 1;
  }
}