.rates-table-wrap {
  position: relative;
  .rates-table-filters {
    position: absolute;
    display: inline-block;
    right: -15px;
    top: 13px;
    .rates-table-filters-wrap {
      position: relative;

    }
    .rates-filter-dropdown {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      z-index: 222;
      border: 1px solid #B6BFCA;
      box-shadow: 3px 3px 11px 0.1px rgba(0, 0, 0, .15);
      right: 0;
      min-width: 300px;
      padding: 15px;
      p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 600;
      }
      .form-group {
        margin-top: 0;
        margin-bottom: 0;
      }
      .dropdown-arrow {
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: -4px;
        left: 94.5% !important;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #fff;
        border: 1px solid $grayBorder;
        border-bottom: none;
        border-right: none;
        &:after {
          display: none;
        }
      }
      &.visible {
        opacity: 1;
        visibility: visible;
      }
    }

  }
  .rates-table-calendar {
    position: absolute;
    display: block;
    white-space: nowrap;
    margin-right: 10px;
    right: -34px;
    top: -39px;
    .calendar-title {
      color: $grayBorder;
      display: inline-block;
      margin-right: 14px;
    }
    .calendar-trigger {
      display: inline-block;
      margin-right: 7px;
      vertical-align: middle;
      opacity: .5;
      cursor: pointer;
      transition: all .3s linear;
      &:before{
        margin-left: 1px;
      }
      &:hover {
        opacity: 1;
      }
    }
    .calendar-text {
      display: inline-block;
      margin-right: 10px;
    }
    .rates-table-calendar-wrap {
      position: relative;
      .calendar-dropdown {
        right: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 2222;
        transition: all .3s linear;
        .rdtPicker {
          right: 0;
        }
        &.visible {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .rates-filters-and-calendar-wrap {
    position: absolute;
    top: 0;
    right: 0;
  }
  table{
    thead{
      tr{
        th{
          text-align: left;
          .buy-sell{
            color: $grayBorder;
            font-size: 11px;
            text-align: left;
          }
        }
      }
    }
    tbody{

    }
    &.one-column{
      thead{
        tr{
          th{
            //&:first-of-type{
            //  width: 20%;
            //}
            &:nth-of-type(2){
              width: 90%;
            }
          }
        }
      }
    }
    &.two-column{
      thead{
        tr{
          th{
            //&:first-of-type{
            //  width: 20%;
            //}
            &:nth-of-type(2){
              width: 25%;
            }
          }
        }
      }
    }
    &.tree-column{
      thead{
        tr{
          th{
            //&:first-of-type{
            //  width: 20%;
            //}
            &:nth-of-type(2){
              //width: 34%;
            }
            &:nth-of-type(3){
              //width: 30%;
            }
          }
        }
      }
    }
    .favorite-star{
      float:right;
      margin-right: -23px;
    }
  }
}

.directory-header-wrap {
  @extend %clearfix;
}
