/* Barebones Compass link styles
 *
 * Link element styles
 */

a {
    text-decoration: none;

    @include link-basic ($link-color, $link-hover-color, $link-active-color, $link-visited-color);
}

/* Segmented link
 *
 * Intended for use with icons to avoid icons being underlined:
 *
 *     <a class="link-segmented" href="/profile.html">
 *         <span class="icon-user"></span>
 *         <span class="segment-text">Profile</span>
 *     </a>
 */
.link-segmented {
    text-decoration: none;

    .segment-text {
        text-decoration: underline;
    }
}

/* Ajax link
 *
 * A dotted border is used to underline the link
 *
 * @uses $link-transitions
 * @uses $link-transition-duration
 * @uses $link-transition-function
 */
.link-ajax {
    $link-ajax-style: dotted;
    $link-ajax-width: 1px;

    @include link-bordered ($link-color, $link-hover-color, $link-active-color, $link-visited-color, $style: $link-ajax-style, $width: $link-ajax-width);

    &.link-segmented {
        border-bottom: 0;

        @if $link-transitions {
            // Split transition: use color for the whole link
            transition: color $link-transition-duration $link-transition-function;
        }

        .segment-text {
            border-bottom: $link-ajax-width $link-ajax-width $link-color;

            @if $link-transitions {
                // Split transition: use border-bottom-color for the text
                transition: border-bottom-color $link-transition-duration $link-transition-function;
            }
        }

        &:visited {
            .segment-text {
                border-bottom-color: $link-visited-color;
            }
        }

        &:hover,
        &:focus {
            .segment-text {
                border-bottom-color: $link-hover-color;
            }
        }

        &:active {
            .segment-text {
                border-bottom-color: $link-active-color;
            }
        }
    }
}

.tab-link{
    color: $gray;
    padding-bottom: 3px;
    cursor: pointer;
    margin-right: 30px;
    &:visited {
        color: $gray;
    }

    &:hover,
    &:focus {
        color:$blue;
    }

    &:active {

    }

    &.active{
        color:$blue;
        border-bottom: 2px solid $blue;
    }
}