/* Barebones Compass table styles
 *
 * Table element styles
 */

table {
    width: 100%;
}

td,
th {
    text-align: left;

    padding: ($base-margin / 2) 0;
    padding-right: ($base-margin / 2);

    vertical-align: top;

    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }
}

th {
    font-weight: bold;

    thead & {
        border-bottom: 1px solid #ccc;
    }
}

tfoot {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 1px 0;
}

table.inner-table{
    margin: 30px 0;
    thead {
        tr{
            td{
                border-top: 1px solid $gray;
                border-bottom: 1px solid $gray;
            }
        }
    }
    tbody{
        tr{
            td{
                border-bottom: 1px dotted $gray;
            }
        }
    }
}
.table-title{
    font-weight: 600;
}
.calc-pro-table-wrap{
    margin-bottom: 10px;
}
.calculator-pro-table{
    thead{
        tr{
            th{
                border-bottom: none;
                font-size: 12px;
                font-weight: 500;
                padding-top:14px;
                padding-bottom: 0px;
                color: $grayBorder;
            }
        }
    }
    tbody{
        tr{
            td{
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom:1px solid $grayBorder+ 40%;
                &:first-of-type{
                    width: 30%;
                }
            }
            &:last-of-type{
                td{
                    border-bottom:none;
                }
            }
        }
    }

}