/* Barebones Compass triangle mixin
 *
 * Contains custom triangle mixin in use within the project
 */

/* Triangle mixin
 *
 * This mixin helps drawing triangles with borders.
 *
 *     .my-class {
 *         triangle(15px, #ccc, bottom);
 *     }
 *
 * TODO: write docs
 */


@mixin triangle ($size, $color, $direction) {
    width: 0;
    height: 0;

    $width: nth($size, 1);
    $height: nth($size, length($size));
    $foreground-color: nth($color, 1);
    $background-color: if(length($color) == 2, nth($color, 2), transparent);

    @if ($direction == top) or ($direction == bottom) or ($direction == right) or ($direction == left) {

        $width: $width / 2;
        $height: if(length($size) > 1, $height, $height/2);

        @if $direction == top {
            border-left:   $width  solid $background-color;
            border-right:  $width  solid $background-color;
            border-bottom: $height solid $foreground-color;
        } @else if $direction == right {
            border-top:    $width  solid $background-color;
            border-bottom: $width  solid $background-color;
            border-left:   $height solid $foreground-color;
        } @else if $direction == bottom {
            border-left:   $width  solid $background-color;
            border-right:  $width  solid $background-color;
            border-top:    $height solid $foreground-color;
        } @else if $direction == left {
            border-top:    $width  solid $background-color;
            border-bottom: $width  solid $background-color;
            border-right:  $height solid $foreground-color;
        }
    } @else if ($direction == top-right) or ($direction == top-left) {

        border-top: $height solid $foreground-color;

        @if $direction == top-right {
            border-left:  $width solid $background-color;
        } @else if $direction == top-left {
            border-right: $width solid $background-color;
        }
    } @else if ($direction == bottom-right) or ($direction == bottom-left) {

        border-bottom: $height solid $foreground-color;

        @if $direction == bottom-right {
            border-left:  $width solid $background-color;
        }
        @else if $direction == bottom-left {
            border-right: $width solid $background-color;
        }
    } @else if ($direction == inset-top) {
        border-width: $height $width;
        border-style: solid;
        border-color: $background-color $background-color $foreground-color;
    } @else if ($direction == inset-bottom) {
        border-width: $height $width;
        border-style: solid;
        border-color: $foreground-color $background-color $background-color;
    } @else if ($direction == inset-right) {
        border-width: $width $height;
        border-style: solid;
        border-color: $background-color $background-color $background-color $foreground-color;
    } @else if ($direction == inset-left) {
        border-width: $width $height;
        border-style: solid;
        border-color: $background-color $foreground-color $background-color $background-color;
    }
}
