.curpair-selectize-wrap{
  height: 382px;
  padding-top: 17px;
  .input-block{
    width: 100%;
    padding-left: 29px;
    padding-right: 29px;
    @extend %clearfix;
    border-bottom: 1px solid $grayBorder;
    padding-bottom: 23px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2);
    transition: all .12s linear;
    input{
      border-top: 0;
      border-left: 0;
      border-right: 0;
      height: 40px;
      line-height: 40px;
      outline: none;
      border-bottom: none;
      &::placeholder{
        color: $grayBorder;
      }
    }
    .input-wrap{
      @extend %clearfix;
      border-bottom: 1px solid $grayBorder;

    }
    .first-input{
      float: left;
      width: 236px;
      position: relative;
      input{
        padding-left: 27px;
      }
      &:before{
        font-family: 'ratex-ui';
        content: "\6b";
        display: block;
        position: absolute;
        left: 0;
        top: 9px;
        z-index: 111;
        color: #B6BFCA;
        font-size: 15px;
      }
    }
    .second-input{
      input{
        padding-left: 10px;
      }
    }

    .divider{
      float: left;
      line-height: 45px;
      .ru-arrow{
        //color: $base-color;
      }
    }
    .second-input{
      float: left;
    }
    &.scrolled{
      box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.2);
    }
  }
  .ReactVirtualized__List{
    outline: none;
  }

  .currpair-item{
    padding-left: 29px;
    padding-right: 29px;
    .currpair-item-cont{
      line-height: 50px;
      @extend %clearfix;
      img{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: 25px;
        height: 25px;

      }
      .divider{
        float: left;
      }
    }
    .curr{
      float: left;
      margin-right: 0;
      strong{
        font-weight: 400;
        display: inline;
        background-color: rgb(215,234, 249);
      }
      .gray-name{
        display:inline-block;
        margin-left: 4px;
        color: $grayBorder;
      }
      &.first-curr{
        width: 236px;
      }
    }
    .favorite-block{
      float: right;
      opacity: 0;
      &.in-favorites{
        opacity: 1;
      }
    }
    &:hover{
      background-color:  $selectFill;
      .favorite-block{
        opacity: 1;
      }
    }
  }
  .initial-selectize-wrapper{
    height: 300px;
    overflow-y: scroll;
    .selectize-group-header{
      padding-left: 29px;
    }
  }
}